@charset "utf-8";

@font-face {
font-family:'NanumGothic';
src:url('../_Default/_Font/NanumGothic.eot');
src: local(※), url('../_Default/_Font/NanumGothic.eot?#iefix') format('embedded-opentype'),
	local(※), url('../_Default/_Font/NanumGothic.ttf') format('truetype'),
	local(※), url('../_Default/_Font/NanumGothic.woff') format('woff');
font-weight:normal;
font-style:normal;
font-size:12px;
}

@font-face {
font-family:'NanumGothic';
src: url('../_Default/_Font/NanumGothicBold.eot');
src:local(※), url('../_Default/_Font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
	local(※), url('../_Default/_Font/NanumGothicBold.ttf') format('truetype'),
	local(※), url('../_Default/_Font/NanumGothicBold.woff') format('woff');
font-weight:bold;
font-style:normal;
font-size:12px;
}

@font-face {
font-family:'NanumGothic';
src:url('../_Default/_Font/NanumGothicExtraBold.eot');
src:local(※), url('../_Default/_Font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
	local(※), url('../_Default/_Font/NanumGothicExtraBold.ttf') format('truetype'),
	local(※), url('../_Default/_Font/NanumGothicExtraBold.woff') format('woff');
font-weight:600;
font-style:normal;
font-size:12px;
}