@charset "utf-8";
/* 20140521. Template by MoonYoungshin. 20140708. Last Writer. */

/* All Device ◆◆◆◆◆◆◆◆◆◆ */

/* Compatibility.20140428.현재호환성이상무 (UA분기 無사용) */
html.lteIE6 body{} /* 고려안함 */
html.IE7 body{}
html.IE8 body{}
html.IE9 body{}
html.gtIE9 body{}
html.noIE body{}

/* Reset.20130916 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
html{height:100%;/* overflow-y:scroll; */}
body{height:100%;font-size:87.5%;word-wrap:break-word;-webkit-text-size-adjust:none;letter-spacing:-0.05em;}
body,select,input,button,textarea,pre,code{font-family:'Noto Sans','맑은 고딕','Malgun Gothic','Nanum Gothic','돋움',Dotum,AppleGothic,helvetica,sans-serif;}
img,form,fieldset,iframe,object,embed,video,audio{max-width:100%;border:0;vertical-align:top;}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,menu,blockquote,form,fieldset,pre{margin-top:1.333em;margin-bottom:1em;}
select,input,button,textarea{font-size:1em;vertical-align:middle;}
label,button,input[type=submit],input[type=reset],input[type=button],input[type=image],input[type=radio],input[type=checkbox]{cursor:pointer;overflow:visible;}
pre{white-space:pre-wrap;}
table{	border-collapse:collapse;border-spacing:0;}
blockquote,q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
hr{display:none;}
a{text-decoration:none;}
a:link,a:visited{color:#333;cursor:pointer;}
a:link:hover,a:link:active,a:link:focus,
a:visited:hover,a:visited:active,a:visited:focus{color:#01c73c;text-decoration:underline;}
i,em,cite,dfn,var,address{font-style:normal;}
em{color:#e00;}
small,sub,sup{font-size:.88em}
acronym,abbr{cursor:help}

.brclear{display:block;clear:both;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
.blind{position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;/* opacity:0;filter:alpha(opacity=0); */}
	caption.blind{position:relative;}
	*+html .blind{height:0;}
.init *{list-style:none;margin:0;padding:0;border:0;background:transparent;font-size:1em;line-height:1.167;text-decoration:none;}
.body_content>*:first-child{margin-top:0;}

/* Base */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,menu,blockquote,fieldset,form,pre{list-style:none;margin:0;padding:0;}
p{margin-top:1.5em;margin-bottom:1.5em;}

/* form */
select.select{width:125px;height:26px;padding:4px;border:1px solid #ccc;border-radius:3px;background:#fff;}
*+html select.select{margin:0;font-size:16px;}
input.text{width:210px;height:24px;margin:0;padding:0;border:1px solid #ccc;border-radius:3px;background:#fff;line-height:24px;}
textarea.textarea{padding:0;border:1px solid #ccc}
.button{height:26px;padding:0 1em;border:1px solid #444;border-radius:3px;background:#555;color:#fff;line-height:1;}
input.radio,
input.checkbox{width:1em;height:1em;margin:0;padding:0;}
label.label{display:inline-block;padding:0 2px 0 1px;}

/* ux */
#skipnav{z-index:9999;position:absolute;left:0;top:0;width:100%;margin:0;}
#skipnav *{display:inline;list-style:none;margin:0;padding:0;}
#skipnav a{display:block;position:absolute;left:-9999px;top:0;width:1px;height:1px;overflow:hidden;}
#skipnav a:focus,
#skipnav a:active{left:0;width:100%;height:auto;background:#345;color:#fff !important;font:bold 1.334em/2 '나눔고딕','돋움';text-align:center;}

/* Only Screen ◆◆◆◆◆ */
@media /* only */ screen{ /* [IE7,8] only 키워드는 미디어 쿼리 지원 js 로딩 후 해석되므로 주석처리!  */

/* Layout */
html{padding:0 0 100% 0;overflow:hidden;}
body{background:#e4e8ef;color:#9296A3;overflow:hidden;}
#container{position:fixed;left:0;top:0;width:100%;min-width:320px;height:100%;margin:0 auto;overflow:hidden;}
	#header{z-index:40;clear:both;position:absolute;left:0;top:0;width:100%;height:45px;background:#fff;border-bottom:1px solid #d8dee4;margin:0 auto;}
	#wrap{z-index:20;clear:both;position:absolute;left:0;top:0;width:100%;height:100%;margin:0 auto;}
	#wrap:after{content:'';display:block;clear:both;height:0;visibility:hidden;}
		#body{float:left;width:100%;height:100%;}
	#footer{z-index:30;clear:both;position:absolute;left:0;bottom:0;width:100%;height:0;margin:0 auto;}

.inner{z-index:30;position:relative;width:100%;max-width:1200px;margin:0 auto;}/* 폭제한 */
.layer1{display:none;}/* #header, #book1page1.layer1 감춤 */

a{color:#9296A3 !important;text-decoration:none !important;}
a:hover,
a:active,
a:focus{color:/* #1B9DD3 */ #01c73c !important;}

/* 메뉴열기 */
a.open_menu1{z-index:30;display:block;position:absolute;right:7px;top:0;width:32px;height:28px;border:1px solid #495460;border-radius:4px;background:#5e6f82;overflow:hidden;box-sizing:border-box}
a.open_menu1 .ic{float:left;position:absolute;left:0;top:8px;width:100%;height:20px;background:url(../../img/inc/b4s.png) no-repeat 50% 0;}
a.open_menu1 .t1{float:left;position:absolute;left:-9999px;width:100%;font-size:12px;line-height:13px;text-align:center;font-weight:normal;color:#fff;}
/* a.open_menu1:hover .ic,
a.open_menu1:focus .ic{background-position:50% -20px;} */

/* #header */

#menu1{z-index:10;display:block;position:absolute;right:0;top:0;height:46px;}
#menu1 .menu1inner{height:100%;}
#menu1 ul,
#menu1 li{list-style:none;float:left;/* position:relative; */height:auto;margin:0;padding:0;}
#menu1 ul {margin-top:0px;}
#menu1 li a{float:left;width:35px;height:100%;overflow:hidden;margin:0;box-sizing:border-box;}
#menu1 li .ic{display:block;width:32px;height:32px;margin:4px auto 0;background:url(../../img/inc/b1s.png?) no-repeat;}
#menu1 .menu1inner ul:first-child {margin-top:0;}
#menu1 .menu1inner ul:first-child li {margin-left:0;margin-right:0}
#menu1 .menu1inner ul:first-child a, #menu1 .menu1inner ul:first-child .ic {width:32px;}
#menu1 .menu1inner ul:first-child .ic {background-size:auto 72px;margin-top:7px;}
#menu1 li .t1 {display:block;position:relative;left:-9999px;width:100%;font-weight:normal;font-size:12px;line-height:13px;text-align:center;color:#737d85}
#menu1 li.m1 .ic{background-position:0 0;}
#menu1 li.m2 .ic{background-position:-36px 0;}
#menu1 li.m3 .ic{background-position:-72px 0;}
#menu1 li.m4 .ic{background-position:-108px 0;}
#menu1 li.m5 .ic{background-position:-188px -2px;}
/* #menu1 li.m6 .ic{background-position:-235px 0;}
#menu1 li.m7 .ic{background-position:-285px 0;}
#menu1 li.m8 .ic{background-position:-335px 0;} */
#menu1 li.m9 .ic{background-position:-289px -2px;}
#menu1 li.m10 .ic{background-position:-385px -2px;}
#menu1 li.m11 .ic{background-position:-435px -2px;}
#menu1 li.m12 .ic{background-position:-489px -2px;}
#menu1 li.m13 .ic{background-position:-535px -2px;}
#menu1 li.m14 .ic{background-position:-589px -2px;}
#menu1 li.m15 .ic{background-position:-235px -2px;}
#menu1 li.m16 .ic{background-position:-335px -2px;}

#menu1 li.m1.on .ic{background-position:0 -50px;}
#menu1 li.m2.on .ic{background-position:-45px -50px;}
#menu1 li.m3.on .ic{background-position:-90px -50px;}
#menu1 li.m4.on .ic{background-position:-135px -50px;}
#menu1 li.m5.on .ic{background-position:-185px -2px;}
/* #menu1 li.m6.on .ic{background-position:-239px -50px;}
#menu1 li.m7.on .ic{background-position:-321px -112px;}
#menu1 li.m8.on .ic{background-position:-360px -112px;} */
#menu1 li.m9.on .ic{background-position:-285px -2px;}
#menu1 li.m10.on .ic{background-position:-385px -2px;}
#menu1 li.m11.on .ic{background-position:-435px -2px;}
#menu1 li.m12.on .ic{background-position:-485px -2px;}
#menu1 li.m13.on .ic{background-position:-535px -2px;}
#menu1 li.m14.on .ic{background-position:-585px -2px;}
#menu1 li.m15.on .ic{background-position:-235px -2px;}
#menu1 li.m16.on .ic{background-position:-335px -2px;}
/* 감춤 */
#menu1 li.m6,
#menu1 li.m7,
#menu1 li.m8,
#menu1 li.m10,
#menu1 li.m11,
#menu1 li.m13,
#menu1 li.m15,
#menu1 li.m16{display:none;}
/* 분리 */
#menu1 li .sep{display:none;float:left;width:1px;height:64px;margin:-4px 2px 0 9px;background:#d8dee4;}
#menu1 li.m4 .sep {margin-right:4px}
#menu1 .menu1inner li {position:relative;margin-left:2.5px;margin-right:2.5px;}
#menu1 .menu1inner ul:first-child li a {margin-left:3px;margin-right:3px;}
#menu1 .menu1inner ul:first-child li.on a {border:0;background:transparent;border-radius:0}
#menu1 .menu1inner ul:first-child .t1 {position:absolute;top:-1000em;width:1px;height:1px;overflow:hidden;}
#menu1 li.on > a {border:1px solid #e5e6e8;background:#f2f4f8;border-radius:3px;}

/* 메뉴레이어팝업상자 */
/* 공통 */
#menu1 .menu1c{display:none;z-index:10;position:absolute;right:-4px;top:60px;border:1px solid #c3cbd7;background:transparent;box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);box-sizing:border-box;}
#menu1 .menu1c .menu1c_inner:before {position:absolute;top:-13px;right:21px;content:"";display:block;width:18px;height:13px;background:url(../../img/inc/bi2sarr.png) no-repeat;z-index:10}
#menu1 .menu1c .menu1c_inner{position:relative;background:#f6f8fc;}
#menu1 .menu1c *{float:none;margin:0;padding:0;border:0;color:#000;}
#menu1 .menu1c .h{display:block;height:43px;padding:0 6px 0 18px;font-weight:bold;font-size:15px;line-height:43px;border-bottom:1px solid #d8dee4;background:#fff;}
#menu1 .menu1c .close.toggle {position:absolute;right:14px;top:6px;width:32px;height:32px;background:transparent url(../../img/inc/b6x.png) no-repeat 50%;font-size:0;line-height:0;overflow:hidden;text-indent:-9999px;border:0;}
/* 목차 */
#menu1 .menu1c#menu1c7{width:300px;margin:0 0 0 -154px;}
#menu1 #menu1c7 .menu1c_inner{padding:0 12px 15px;}
#menu1 .menu1c .thead{height:25px;padding:0 74px 0 0;border:1px solid #0d0d0d;background:#333;overflow:hidden;text-align:center;
	background:linear-gradient(to bottom,#494949,#333);
	/* filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#494949,endColorStr=#333333); */
}
#menu1 .menu1c .t2{float:left;width:100%;border-right:1px solid #565556;color:#aaa;font-size:11px;line-height:25px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
#menu1 .menu1c .t3{float:left;width:73px;margin:0 -75px 0 0;border-left:1px solid #1f1f1f;color:#aaa;font-size:11px;line-height:25px;text-align:center;}
#menu1 #menu1c7 ol{width:274px;height:196px;overflow-y:scroll;}
#menu1 #menu1c7 li{width:254px;height:27px;}
#menu1 #menu1c7 li a{display:block;width:auto;height:27px;padding:0 58px 0 6px;border-bottom:1px solid #333;color:#fff;overflow:hidden;}
#menu1 #menu1c7 li a:hover,
#menu1 #menu1c7 li a:focus{background:#333;}
#menu1 #menu1c7 li a *{border:0 !important;color:#fff !important;}
#menu1 #menu1c7 li a .t3{width:42px;padding:0 0 0 16px;}
/* 검색 */
#menu1 .menu1c#menu1c8{width:482px;margin:0 0 0 -245px;}
#menu1 #menu1c8 .menu1c_inner{padding:15px 105px 15px 111px;}
#menu1 #menu1c8 legend{position:absolute;left:0;top:0;}
#menu1 #menu1c8 .h{display:block;position:absolute;left:0;top:0;width:87px;height:75px;padding:0;border-right:1px solid #444;line-height:75px;text-align:center;overflow:hidden;}
#menu1 #menu1c8 input.text{width:245px;height:43px;padding:0 0 0 19px;border:1px solid #000;background:#444;color:#bbb;line-height:43px;}
#menu1 #menu1c8 input.text:hover,
#menu1 #menu1c8 input.text:focus{color:#fff;}
#menu1 #menu1c8 .submit{position:absolute;right:61px;top:15px;}
#menu1 #menu1c8 .close{right:19px;top:22px;}
/* 검색결과 */
#menu1 .menu1c#menu1c8_1{width:482px;margin:0 0 0 -245px;}
#menu1 #menu1c8_1 .menu1c_inner{padding:0 12px 15px;}
#menu1 #menu1c8_1 .h{font-weight:normal;}
#menu1 #menu1c8_1 .key1{color:#1b9dd3;font-weight:bold;}
#menu1 #menu1c8_1 ol{width:456px;height:196px;overflow-y:scroll;}
#menu1 #menu1c8_1 li{width:434px;height:auto;}
#menu1 #menu1c8_1 li a{display:block;width:auto;height:auto;padding:9px 58px 9px 6px;border-bottom:1px solid #333;color:#fff;overflow:hidden;}
#menu1 #menu1c8_1 li a:hover,
#menu1 #menu1c8_1 li a:focus{background:#333;}
#menu1 #menu1c8_1 li a *{border:0 !important;color:#fff !important;}
#menu1 #menu1c8_1 li a .t2{line-height:18px;white-space:normal;word-wrap:break-word;overflow:hidden;}
#menu1 #menu1c8_1 li a .t3{width:42px;padding:0 0 0 16px;line-height:18px;}
/* SNS공유 */
#menu1 .menu1c#menu1c9{width:160px;}
#menu1 #menu1c9 ul,
#menu1 #menu1c9 li{height:auto;}
#menu1 #menu1c9 ul {padding:3px 0}
#menu1 #menu1c9 li a{display:block;position:relative;width:100%;padding:10px 0 10px 44px;color:#465061 !important;font-size:14px;line-height:14px;text-align:left;box-sizing:border-box;margin:1px 0}
#menu1 #menu1c9 li a .ic{position:absolute;left:15px;top:6px;width:22px;height:22px;margin:0;background:url(../../img/inc/bi1s.png) no-repeat;}
#menu1 #menu1c9 li.m1 a .ic{background-position:-60px 0;}
#menu1 #menu1c9 li.m2 a .ic{background-position:-60px -30px;}
#menu1 #menu1c9 li.m3 a .ic{background-position:-60px -60px;}
#menu1 #menu1c9 li.m4 a .ic{background-position:-60px -90px;}
#menu1 #menu1c9 li.on a, #menu1 #menu1c9 li a:hover {border:0;background:#e7eaf1}
/* 프린트,확대 */
#menu1 .menu1c#menu1c10,
#menu1 .menu1c#menu1c5{display:block;width:270px;}
#menu1 .cont1{padding:23px 29px 10px;background:url(../../img/inc/bi2s.png) no-repeat 27px 23px;overflow:hidden;}
#menu1 .bt1{position:relative;display:block;width:100%;height:35px;margin:0 0 20px 0;padding:0 0 0 62px;overflow:hidden;box-sizing:border-box;}
#menu1 li.on .bt1 {background:none;border:0;border-radius:0}
#menu1 .bt1 .t4{float:left;width:79px;height:35px;font-size:16px;line-height:35px;}
#menu1 .bt1 .t5{position:absolute;top:0;right:0;width:63px;height:35px;font-size:14px;line-height:33px;text-align:center;	background:#7eafe5;border:1px solid #6699d2;font-weight:normal;color:#fff;box-sizing:border-box;}
#menu1 .bt1 .t5:after {content:"";display:inline-block;vertical-align:middle;width:16px;height:16px;background:url(../../img/inc/bt5s.png) no-repeat;margin-top:-2px;margin-left:5px;}
/* 회전 */
#menu1 .menu1c#menu1c15{display:block;width:362px;}
#menu1 .cont2{padding:14px 15px;text-align:center;overflow:hidden;}
#menu1 .cont2 .pg1{padding:.5em 0;font-size:14px;line-height:1.75;}
#menu1 .bt2{display:inline-block;width:60px;height:35px;margin:.5em;background:#7eafe5;color:#fff !important;font-size:14px;line-height:34px;text-align:center;border:1px solid #6699d2;box-sizing:border-box;}
#menu1 .bt2.a1{background:#666;border-color:#222;}

/* QR코드 */
#menu1 .menu1c#menu1c16{display:block;width:285px;margin:0 0 0 -146.5px;}
#menu1 .cont3{padding:14px 20px;border-top:1px solid #444;text-align:left;overflow:hidden;}
#menu1 .cont3 .qrcode1{float:left;width:105px;margin:0 15px 0 0;}
#menu1 .cont3 .qrcode1 img{display:block;max-width:100%;height:auto;margin:0 auto;}
#menu1 .cont3 .pg1{float:left;width:125px;padding:.5em 0;font-size:12px;line-height:1.75;}

/* #footer */

/* #body */

/* 이북뷰 */
#book1{position:relative;width:100%;height:100%;}
#book1 .book1control1{}
.book1control1 button{z-index:10;display:block;position:absolute;top:50%;width:52px;height:102px;margin:-51px 0 0 0;padding:0;border:0;overflow:visible;cursor:pointer;background:transparent}
/* [IE] filter 투명도 inValid 라서.. 표준UA 만 고도화 */
:root .book1control1 button{} /* [IE9~표준] */
.book1control1 button.prev{left:30px;}
.book1control1 button.next{right:30px;}
.book1control1 button b{display:block;width:100%;height:100%;margin:0 auto;background:url(../../img/inc/b3s.png) no-repeat;overflow:hidden;text-indent:-9999px;}
.book1control1 button.prev b{background-position:0 0;}
.book1control1 button.next b{background-position:100% 0;}
.book1control1 button.prev:hover b, .book1control1 button.prev:focus b, .book1control1 button.prev:active b {background-position:0 100%}
.book1control1 button.next:hover b, .book1control1 button.next:focus b, .book1control1 button.next:active b {background-position:100% 100%}

#book1 #book1view{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}
/* ▽[IE8~]이면 table-cell 적용 가능하지만, 양·단면에 따라 float:left; 등 고려사항 많아서 보류~ */
#book1view #book1cont{/* display:table; */position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}
#book1cont .book1p{/* display:table-cell; */float:left;position:relative;width:100%;height:100%;text-align:center;vertical-align:middle;overflow:hidden;}
#book1cont .book1p img{width:auto;height:auto;max-width:100%;max-height:100%;}/* imgFull */
#book1cont .on{display:block;}
#book1cont .on2{display:none;}
#book1cont .book1p.blank img{background:#1D1E24;opacity:.5;}
#book1cont .book1p.js-loading{background:url(../../img/inc/loading.gif) no-repeat 50%;background-size:50px;}

/* 컨텍스트메뉴 */
.contextmenu1 .bt1{display:block;position:absolute;left:-9999px;top:0;width:1px;height:1px;margin:0;padding:0;border:0;background:transparent;overflow:visible;}
.contextmenu1 .bt1:focus{left:50%;top:50%;width:16em;height:auto;margin:-0.75em 0 0 -8em;padding:0 .5em;background:#161616;color:#fff !important;line-height:1.5;text-align:center;opacity:.8;
	box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.5);
}
.contextmenu1 .bt1.close:focus{left:0;top:0;width:26px;height:26px;margin:-26px;background:#161616 url(../../img/inc/b5x.png) no-repeat;font-size:0;line-height:0;overflow:hidden;text-indent:-9999px;}
.layer2pop{z-index:10;display:none;position:absolute;left:50%;top:50%;width:160px;height:170px;margin:-85px 0 0 -80px;}
.layer2pop.on{display:block;}
.layer2pop .menu2{width:100%;height:100%;}
.menu2 .bg1{position:absolute;left:-1px;top:-1px;width:100%;height:100%;border:1px solid #c3cbd7;background:#fff;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.menu2 ul,
.menu2 li{list-style:none;position:relative;margin:0;padding:0;}
.menu2 ul {padding:9px 4px;width:auto;}
.menu2 li a{display:block;position:relative;width:110px;padding:8px 0 8px 42px;color:#465061 !important;font-weight:normal;font-size:14px;line-height:14px;text-align:left;}
.menu2 li.on{z-index:10;}
.menu2 li.on a{margin:0;background:#f2f4f8;}
.menu2 ul ul{z-index:20;display:none;position:absolute;left:98%;top:0;margin:0;border:1px solid #c3cbd7;background:#fff;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.menu2 li.on ul{display:block !important;}
.menu2 li li a{width:105px;margin:0 !important;padding:8px 0 8px 45px;border:0 !important;font-weight:normal !important;}
.menu2 li li a:hover,
.menu2 li li a:focus{font-weight:bold !important;}
.menu2 li.m5>a{cursor:default;}/* 하위메뉴 있어 커서 바꿈 */
.menu2 li a .ic{position:absolute;left:15px;top:4px;width:22px;height:22px;background:url(../../img/inc/bi1s.png) no-repeat;}
.menu2 li.m1 a .ic{background-position:0 0;}
.menu2 li.m2 a .ic{background-position:0 -30px;}
.menu2 li.m3 a .ic{background-position:0 -60px;}
.menu2 li.m4 a .ic{background-position:0 -90px;}
.menu2 li.m5 a .ic{background-position:0 -120px;}
.menu2 li.m1.on a .ic{background-position:0 0;}
.menu2 li.m2.on a .ic{background-position:0 -30px;}
.menu2 li.m3.on a .ic{background-position:0 -60px;}
.menu2 li.m4.on a .ic{background-position:0 -90px;}
.menu2 li.m5.on a .ic{background-position:0 -120px;}
.menu2 li.on li a {background:#fff;}
.menu2 li.on li.on a {background:#f2f4f8;}
.menu2 li li a .ic{left:15px;}
.menu2 li li.m1 a .ic{background-position:-60px 0 !important;}
.menu2 li li.m2 a .ic{background-position:-60px -30px !important;}
.menu2 li li.m3 a .ic{background-position:-60px -60px !important;}
.menu2 li li.m4 a .ic{background-position:-60px -90px !important;}
.menu2 li li.first{height:24px;margin:0 0 6px;}
.menu2 li li.last{height:24px;margin:0;padding:0 0 6px 0;border-left:0;border-right:0;}
/* 동작범위(#book1cont .book1p) 넘으면 우to좌, 하to상 */
.layer2pop.rtl .menu2 ul ul {left:auto;right:140px;}
.layer2pop.rtl .menu2 li li.first{margin:0 -1px 6px 0;border-left:0;}
.layer2pop.btt .menu2 ul ul {top:auto;bottom:0;}
.layer2pop.btt .menu2 li li.first{margin:0 0 6px 0;border-left:0;border-right:0;}
.layer2pop.btt .menu2 li li.last{margin:0;border-right:0;}
.layer2pop.rtl.btt .menu2 li li.last{margin:0 -1px 0 0;border-left:0;border-right:1px solid #22242c;}

/* 페이징축소판 */
#book1page1{z-index:30;clear:both;position:absolute;left:0;bottom:0;width:100%;height:96px;background:#374758;margin:0 auto;}
#book1page1 .book1page1control1{}
.book1page1control1 button{float:left;position:absolute;top:19px;width:30px;height:78px;margin:0;padding:0;border:1px solid #5e6f82;;background:transparent;overflow:visible;cursor:pointer;transition:border-color .3s ease}
.book1page1control1 button:hover, .book1page1control1 button:focus {border-color:#fff;}
.book1page1control1 button.first{left:0;}
.book1page1control1 button.prev{left:35px;}
.book1page1control1 button.next{right:35px;}
.book1page1control1 button.last{right:0;}
.book1page1control1 button b{display:block;width:16px;height:19px;margin:0 auto;background:url(../../img/inc/b2s.png) no-repeat;overflow:hidden;text-indent:-9999px;}
.book1page1control1 button.first b{background-position:0 0;}
.book1page1control1 button.prev b{background-position:-29px 0;}
.book1page1control1 button.next b{background-position:-77px 0;}
.book1page1control1 button.last b{background-position:-104px 0;}
.book1page1control1 button.first:hover b,
.book1page1control1 button.first:focus b{background-position:0 -30px;}
.book1page1control1 button.prev:hover b,
.book1page1control1 button.prev:focus b{background-position:-29px -30px;}
.book1page1control1 button.next:hover b,
.book1page1control1 button.next:focus b{background-position:-77px -30px;}
.book1page1control1 button.last:hover b,
.book1page1control1 button.last:focus b{background-position:-104px -30px;}
#book1page1 .thumbnail{height:67px;padding:20px 78px 0;overflow:hidden;}
#book1page1 #book1page1view{position:relative;width:100%;height:100%;overflow:hidden;}
#book1page1 #book1page1view #book1page1cont{position:absolute;left:0;top:0;min-width:100000px;height:100%;overflow:hidden;}
#book1page1cont a.m{float:left;padding:0 5px;text-align:center;overflow:hidden;}
#book1page1cont a.blank{display:none;}
#book1page1cont a.m .a1{float:left;position:relative;height:50px;border:1px solid #000;background:#000;overflow:hidden;box-sizing:border-box;}
#book1page1cont a.m .a1 img{display:block;height:100%;}
#book1page1cont a.m .a2{clear:both;display:block;padding:3px 0 0 0;font-size:12px;line-height:14px;white-space:nowrap;font-weight:bold;color:#fff}
#book1page1cont a.m.on .a1,
#book1page1cont a.m.on2 .a1{margin:0 0 -1px 0;border:2px solid #01c73c;}
#book1page1cont a.m.on .a2,
#book1page1cont a.m.on2 .a2{color:/* #1B9DD3 */ #01c73c !important;padding-top:5px;}

/* ▣ 확대.레이어창(Desktop) */
html.onZoom1 #zoom1{display:block;}
#zoom1{z-index:100;display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:#e4e8ef;text-align:center;overflow:auto;}
#zoom1 *{list-style:none;margin:0;padding:0;border:0;}
#zoom1 .mView{width:100%;height:100%;}
#zoom1 .mCont{display:table;width:100%;height:100%;}
#zoom1 .mCont .zoom1p{display:table-cell;position:relative;width:100%;height:100%;text-align:center;vertical-align:middle;}
#zoom1 .mCont img{width:100%;height:auto;max-width:1040px;}

#zoom1 .zoom1control1{z-index:10;position:fixed;left:50%;top:27px;width:460px;height:50px;margin:0 0 0 -230px;border:1px solid #c3cbd7;background:#fff;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,.2);padding:5px 15px;box-sizing:border-box;}
.zoom1control1 .zoom1control1inner{position:relative;height:100%;}
#zoom1 .zoom1control1 .m{float:left;width:36px;height:100%;margin:0 4px;padding:0;border:0;background:transparent;overflow:visible;}
#zoom1 .zoom1control1 .m .ic{display:block;width:36px;height:38px;margin:0 auto;background:url(../../img/inc/b7s.png) no-repeat;}
#zoom1 .zoom1control1 .m .t1{display:block;position:relative;left:-9999px;width:100%;font-weight:normal;font-size:11px;line-height:13px;text-align:center;}
#zoom1 .zoom1control1 .m.m1 .ic{background-position:-21px -11px;}
#zoom1 .zoom1control1 .m.m2 .ic{background-position:-73px -11px;}
#zoom1 .zoom1control1 .m.m3 .ic{background-position:-122px -11px;}
#zoom1 .zoom1control1 .m.m4 .ic{background-position:-178px -11px;}
#zoom1 .zoom1control1 .m.m5 .ic{background-position:-222px -11px;}
#zoom1 .zoom1control1 .m.m6 .ic{background-position:-286px -11px;}
#zoom1 .zoom1control1 .m.m7 .ic{background-position:-340px -11px;}
#zoom1 .zoom1control1 .m.m8 .ic{background-position:-398px -11px;}
#zoom1 .zoom1control1 .m.m1.on .ic{background-position:-21px -11px;}
#zoom1 .zoom1control1 .m.m2.on .ic{background-position:-73px -11px;}
#zoom1 .zoom1control1 .m.m3.on .ic{background-position:-122px -11px;}
#zoom1 .zoom1control1 .m.m4.on .ic{background-position:-178px -11px;}
#zoom1 .zoom1control1 .m.m5.on .ic{background-position:-222px -11px;}
#zoom1 .zoom1control1 .m.m6.on .ic{background-position:-281px -11px;}
#zoom1 .zoom1control1 .m.m7.on .ic{background-position:-341px -11px;}
#zoom1 .zoom1control1 .m.m8.on .ic{background-position:-400px -11px;}
#zoom1 .zoom1control1 .m.on {border:1px solid #e5e6e8;background:#f2f4f8;box-sizing:border-box;border-radius:3px}
#zoom1 .zoom1control1 .m.on .ic {margin:-1px}
/* 분리 */
#zoom1 .zoom1control1 .sep{float:left;width:1px;height:32px;margin:3px 8px;background:#d8dee4;}

/* 이전다음 */
#zoom1 .zoom1control2{}
.zoom1control2 button{z-index:10;display:block;position:fixed;top:50%;width:52px;height:102px;margin:-51px 0 0 0 !important;padding:0;border:0;overflow:visible;cursor:pointer;}
/* [IE] filter 투명도 inValid 라서.. 표준UA 만 고도화 */
:root .zoom1control2 button{background-color:transparent;} /* [IE9~표준] */
.zoom1control2 button.prev{left:28px;}
.zoom1control2 button.next{right:28px /* 스크롤과 안겹치게 */;}
.zoom1control2 button b{display:block;width:52px;height:102px;margin:0 auto;background:url(../../img/inc/b3s.png) no-repeat;overflow:hidden;text-indent:-9999px;}
.zoom1control2 button.prev b{background-position:0 0;}
.zoom1control2 button.next b{background-position:100% 0;}


/* ▣ 확대.새창(Mobile) ▶ HTML 내부에 스타일 작성한다. */

} /* /Only Screen */

/* / All Device */

/* Mobile Device ◆◆◆◆◆◆◆◆◆◆ */
@media only screen and (max-width:500px){
	#zoom1 .zoom1control1 {width:98%;height:40px;padding-left:0;padding-right:0;margin-left:-49%;}
	#zoom1 .zoom1control1 .m {margin:0 1px;float:none;display:inline-block;vertical-align:top;width:26px;}
	#zoom1 .zoom1control1 .m .ic {width:25px;height:30px;background-size:auto 160px;}
	#zoom1 .zoom1control1 .sep {float:none;display:inline-block;vertical-align:top;margin:2px 4px 0;height:26px;}
	#zoom1 .zoom1control1 .m.m1 .ic{background-position:-19px -9px;}
	#zoom1 .zoom1control1 .m.m2 .ic{background-position:-60px -9px;}
	#zoom1 .zoom1control1 .m.m3 .ic{background-position:-100px -9px;}
	#zoom1 .zoom1control1 .m.m4 .ic{background-position:-145px -9px;}
	#zoom1 .zoom1control1 .m.m5 .ic{background-position:-180px -9px;}
	#zoom1 .zoom1control1 .m.m6 .ic{background-position:-231px -9px;}
	#zoom1 .zoom1control1 .m.m7 .ic{background-position:-274px -9px;}
	#zoom1 .zoom1control1 .m.m8 .ic{background-position:-321px -9px;}
	#zoom1 .zoom1control1 .m.m1.on .ic{background-position:-19px -9px;}
	#zoom1 .zoom1control1 .m.m2.on .ic{background-position:-60px -9px;}
	#zoom1 .zoom1control1 .m.m3.on .ic{background-position:-100px -9px;}
	#zoom1 .zoom1control1 .m.m4.on .ic{background-position:-145px -9px;}
	#zoom1 .zoom1control1 .m.m5.on .ic{background-position:-180px -9px;}
	#zoom1 .zoom1control1 .m.m6.on .ic{background-position:-231px -9px;}
	#zoom1 .zoom1control1 .m.m7.on .ic{background-position:-274px -9px;}
	#zoom1 .zoom1control1 .m.m8.on .ic{background-position:-321px -9px;}
}
@media only screen and (max-width:767px){
	#header{background-position:0 97.4%;}
	#logo{position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
	#banner_00{position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
	a.open_menu1 {border-radius:0;border-radius:0 0 5px 5px;background:rgba(50,55,60,.9);border-color:rgba(5,6,7,.9);border-top:0;box-shadow:inset 0 -1px 1px 1px #52575b;overflow:visible;}
	a.open_menu1 .ic {background-position:50% -21px;}
	a.open_menu1:after {position:absolute;content:"";display:block;width:100%;height:100%;z-index:-1;box-shadow:0px 3px 5px 0 rgba(0,0,0,0.9);}
	#book1page1{height:89px}
	.book1page1control1 button {top:13px;width:24px;height:64px;}
	.book1page1control1 button.first {left:5px;}
	.book1page1control1 button.prev {left:37px;}
	.book1page1control1 button.next {right:37px}
	.book1page1control1 button.last {right:5px;}
	#book1page1 .thumbnail {padding-top:13px;padding-left:72px;padding-right:72px;height:76px;}
	#book1page1cont a.m .a1 {height:50px;}
	#book1page1cont a.m .a2 {padding-top:2px}
	#menu1 {width:100%;}
	#menu1 .menu1inner {position:relative;}
	#menu1 li.on > a {border:0;background:none;border-radius:0;}
	#menu1 li.m2.on .ic{background-position:-36px 0;}
	#menu1 li.m3.on .ic{background-position:-72px 0;}
	#menu1 li.m4.on .ic{background-position:-108px 0;}
	#menu1 li.m5.on .ic{background-position:-188px -2px;}
	#menu1 li.m9.on .ic{background-position:-289px -2px;}
	#menu1 li.m10.on .ic{background-position:-385px -2px;}
	#menu1 li.m11.on .ic{background-position:-435px -2px;}
	#menu1 li.m12.on .ic{background-position:-489px -2px;}
	#menu1 li.m13.on .ic{background-position:-535px -2px;}
	#menu1 li.m14.on .ic{background-position:-589px -2px;}
	#menu1 li.m15.on .ic{background-position:-235px -2px;}
	#menu1 li.m16.on .ic{background-position:-335px -2px;}

	#menu1 li .t1 {position:absolute;}
	#menu1 .menu1c {top:45px;right:0;margin-right:-80px}
	#menu1 .menu1c .menu1c_inner:before {right:85px}
	#menu1 .menu1c#menu1c9 {margin-right:0;right:-20px;}
	#menu1 .menu1c#menu1c9 .menu1c_inner:before {right:25px;}
	#menu1 .menu1c .close.toggle {right:5px}
	#menu1 .menu1inner li {margin-left:0;margin-right:0;}
	#menu1 .menu1inner ul:first-child li a {margin-left:1px;margin-right:1px}
	#menu1 .menu1inner>ul {position:absolute;top:0;}
	#menu1 .menu1inner>ul:first-child {left:5px;}
	#menu1 .menu1inner>ul:nth-child(2) {right:105px;}
	#menu1 .menu1inner>ul:nth-child(3) {right:70px;}
	#menu1 .menu1inner>ul:nth-child(4) {right:0;}
	#menu1 .menu1inner>ul:nth-child(5) {right:35px;}
	.book1control1 button {width:31px;height:61px;}
	.book1control1 button b {background-size:66px auto;}
	.book1control1 button.prev {left:10px;}
	.book1control1 button.next {right:10px;}

} /* /Mobile Device */


/* Tablet & Desktop Device ◆◆◆◆◆◆◆◆◆◆ */
@media only screen and (min-width:768px){

	a.open_menu1{right:21px;top:17px;width:55px;height:55px;border-radius:4px;}
	a.open_menu1 .ic{top:16px;}
	a.open_menu1 .t1{left:0;top:36px}

	#logo{position:absolute;left:26px;top:10px;}
	#header{height:79px;}
	#banner_00{position:absolute;left:0;top:20px;}

	#menu1{right:0;height:79px;}
	#menu1 ul, #menu1 .menu1inner ul:first-child {margin-top:12px;}
	#menu1 li a {width:55px;padding-bottom:5px}
	#menu1 li .ic {margin:0 auto -5px;width:40px;height:40px}
	#menu1 .menu1inner ul:first-child a {width:40px;}
	#menu1 .menu1inner ul:first-child .ic {width:40px;height:40px;margin-top:8px;background-size:auto;}
	#menu1 li .t1{left:0;}
	#menu1 li.m4 .sep,
	#menu1 li.m6 .sep{display:block;}
	#menu1 li.m2 .ic{background-position:-45px 0;}
	#menu1 li.m3 .ic{background-position:-90px 0;}
	#menu1 li.m4 .ic{background-position:-135px 0;}
	#menu1 li.m5 .ic{background-position:-185px -2px;}
	#menu1 li.m9 .ic{background-position:-285px -2px;}
	#menu1 li.m12 .ic{background-position:-485px -2px;}
	#menu1 li.m14 .ic {background-position:-585px -2px}

	#book1page1{height:102px;}
	.book1page1control1 button{height:64px;}
	#book1page1 .thumbnail{padding-top:20px;}

} /* /Tablet & Desktop Device */

/* Tablet Device ◆◆◆◆◆◆◆◆◆◆ */
@media only screen and (min-width:768px) and (max-width:1023px){

} /* /Tablet Device */

/* Desktop Device ◆◆◆◆◆◆◆◆◆◆ */
@media only screen and (min-width:1024px){ /* html{height:overflow-y:scroll} 하면 [CR,FF,OP]스크롤16px 포함크기, [SF,IE]document크기(스크롤제외크기) */

#container{background:#e4e8ef}

#menu1 li.m7,
#menu1 li.m8,
#menu1 li.m9,
#menu1 li.m10,
#menu1 li.m11,
#menu1 li.m13,
#menu1 li.m15,
#menu1 li.m16{display:block;}
#menu1 li.m11 .sep,
#menu1 li.m13 .sep{display:block;}

} /* /Desktop Device */

/* Desktop Device + 가로모드 ◆◆◆◆◆ [IE8이하]에서 오차발생하여 미디어쿼리로 하지 않고 all.js 에서 부여된 .twoFigures 클래스 활용함. */
/* @media only screen and (min-width:1024px), (orientation:landscape){ */ 

/* 양면모드 */
html.twoFigures #book1cont .book1p{width:50%;}
*+html.twoFigures #book1cont .book1p{width:49.9%;}
html.twoFigures #book1cont .on2{display:block;}
html.twoFigures #book1cont #book1p1{text-align:right;}
html.twoFigures #book1cont #book1p2{margin:0 -1px;text-align:left;}
html.twoFigures #book1cont .book1p img{
	box-shadow:0 5px 9px 3px rgba(0, 0, 0, .26);
}
html.twoFigures #book1cont #book1p2 img{border-left:1px solid #000;}
*+html.twoFigures #book1cont #book1p2 img{border-left:0;}

/* 페이징축소판 양면 재배치는 all.js  */
html.twoFigures #book1page1cont a.blank{display:block;}

/* } */
/* /Desktop Device + 가로모드 */

/* Print ◆◆◆◆◆ */
@media print{
	html, body, #container, #wrap, #body {float:none;top:0;margin:0 !important;padding:0 !important;border:0 !important;background:#fff !important;overflow:visible !important;}
	#header, #footer,
	.open_menu1, .book1control1, #layer2pop1, #book1page1, .contextmenu1{display:none !important;}
	#book1cont .book1p{width:100% !important;margin:0 !important;padding:0 !important;overflow:visible !important;}
	#book1cont .book1p img{width:100% !important;height:100% !important;max-width:100% !important;max-height:100% !important;margin:0 !important;padding:0 !important;
		box-shadow:0 0 0 0 rgba(0, 0, 0, 0) !important;
	}
	/* 단면모드 */
	#book1cont .on{display:block !important;}
	#book1cont .on2{display:none !important;}
	/* 양면모드 */
	html.twoFigures #book1cont .on2{display:block !important;}
	/* 빈페이지는 인쇄제외 - 우선순위 높임. */
	#book1view #book1cont .book1p.blank{display:none !important;}
	/* 좌·우페이지 각각 인쇄 */
	#book1view #book1cont .book1p.doPrint{display:block !important;}
	#book1view #book1cont .book1p.noPrint{display:none !important;}
	/* 확대창 */
	#zoom1 .zoom1control1{display:none;}
	#zoom1{display:none;}
	html.onZoom1 #zoom1{display:block;}
	html.onZoom1 #wrap{display:none;}
}