@charset "utf-8"; 
/* 2014-10-10 CSS CENTUMSOFT */


/* 게시판공통 =============== */
#board-wrap {position:relative;margin-bottom:10px;word-wrap:normal}
#board-wrap input[type=submit], #board-wrap select, #board-wrap button {cursor:pointer;}
#board-wrap input.text {border:1px solid #d2d2d2;height:38px;line-height:38px;vertical-align:baseline;margin-bottom:0;background:#fff;}
#board-wrap textarea.textarea {border:1px solid #ddd;background:#f8f8f8}
*.no-data {height:70px;text-align:center;padding-top:150px;font-size:14px;color:#555;display:block;background:url(/_Img/Board/default/ico_nodata.png) no-repeat center 70px;}
#board-list-wrap {border-top:2px solid #3478bf;border-bottom:1px solid #ddd;}
.btn-wrap {padding:30px 0;text-align:center;}

/* 카테고리 탭스타일 */
.b-tab01 {position:relative;overflow:hidden;border:1px solid #ddd;margin-bottom:20px;} 
.b-tab01 li {float:left;width:20%;font-size:13px;text-align:center;}
.b-tab01 li a {padding:7px 0 6px;display:block;line-height:28px;background:url(/_Img/Board/btab01_vbar.gif) no-repeat 0 14px;}
.b-tab01 li .over, .b-tab01 li.first a.over {font-weight:700;text-decoration:underline;color:#1f76cd;border:1px solid #1f76cd;}
.b-tab01 li.first a.over {background:none;}
.b-tab01 li a:hover, .b-tab01 li a:focus, .b-tab01 li a:active  {color:#1f76cd;text-decoration:underline;}
.b-tab01 button {border:0;position:absolute;width:48px;height:48px;text-indent:-9999px;cursor:pointer;background:#f7f7f7 url(/_Img/Board/default/btab01_btn.png) no-repeat;}
.b-tab01 button.btn-prev {left:0;top:0;border-right:1px solid #d7d7d7;}
.b-tab01 button.btn-prev:hover, .b-tab01 button.btn-prev:focus, .b-tab01 button.btn-prev:active {background-position:-96px 0;}
.b-tab01 button.btn-next {right:0;top:0;border-left:1px solid #d7d7d7;background-position:-48px 0;}
.b-tab01 button.btn-next:hover, .b-tab01 button.btn-next:focus, .b-tab01 button.btn-next:active {background-position:-144px 0;}
/* 일반게시판 리스트 */
.board-search-wrap {overflow:hidden;margin-bottom:10px;font-size:12px;}
.board-search-wrap .board-total {float:left;line-height:28px;padding-top:5px;}
.board-search-wrap .board-total .total {background:url(/_Img/Board/default/ico_total.gif) no-repeat 0 3px;font-weight:700;color:#555;padding:0 0 5px 22px;}
.board-search-wrap .board-total .total b {color:#f9261c}
.board-search-wrap .board-total .page {padding-left:5px;}
.board-search-wrap .board-total .page b {color:#3168b2}
.board-search-wrap .board-date {float:left;margin-left:20px;}
.board-search-wrap .board-search {float:right;}
.board-search-wrap .board-search label {font-size:13px;font-weight:700;color:#333;margin-right:5px;}
.board-search-wrap .board-search input.text {vertical-align:top !important;width:198px;}
.board-search-wrap select {border:1px solid #ddd;min-width:80px;height:40px;vertical-align:top;line-height:40px;background:#f8f8f8;}
.board-search-wrap .board-search .text {border:1px solid #ddd;height:26px;line-height:26px;}
.board-search-wrap .btn-srh {width:41px;height:40px;background:#f9f9f9 url(/_Img/Board/default/btn_srh.gif) no-repeat 0 0;color:#fff;border:1px solid #d2d2d2;border-left:0;vertical-align:top;cursor:pointer;padding:0;}
.board-search-wrap .btn-srh span {width:1px;height:1px;overflow:hidden;position:absolute;top:0;left:0;}

.board-list-wrap {border-top:2px solid #3478bf;width:100%;}
/* table style */
.board-list-table {width:100%;border-collapse:collapse;text-align:center;font-size:12px;color:#444;/* word-wrap:break-word; */table-layout:fixed;}
.board-list-table th {border:1px solid #e6e6e6;border-bottom:1px solid #999;border-top:0;background:#f9f9f9;padding:14px 0 15px;font-size:13px;}
.board-list-table tr:hover td {background-color:#fcfcfc;}
.board-list-table td {border:1px solid #ddd;padding:14px 0;}
.board-list-table td .stitle {display:block;width:100%;float:left;}
.board-list-table td .stitle a {display:inline-block;width:auto;max-width:83%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:top;}
.board-list-table td a {color:#444;}
.board-list-table .isnotice td.subject a .txt {color:#333;font-weight:bold;}
.board-list-table .isnotice td .cate {font-weight:bold}
.board-list-table td .cate {color:#1b569f;font-size:13px;padding-right:2%;}
.board-list-table td .reply {background:url(/_Img/Board/default/ico_reply.gif) no-repeat 3px 3px;padding:0 6px 0 20px;font-weight:bold;color:#333;}
.board-list-table .new, .board-list-table .files, .board-list-table .secret {margin-left:4px;}
/* col 사이즈 지정 */
.board-list-table .num {width:8%;text-align:center;}
.board-list-table .subject {width:51%;text-align:left;padding-left:2%;padding-right:2%;font-size:14px;}
.board-list-table .writer {width:13%;}
.board-list-table .date {width:14%;}
.board-list-table .cnt {width:8%;}
.board-list-table .down {width:8%;}
/* 첨부파일리스트 */
.board-list-table .file-list {background:#f3f5f8;padding:10px 0;margin:-10px 0;font-size:12px;text-align:left;padding-left:28px;line-height:30px;border-top:1px solid #bac2ca}
.board-list-table .file-list a {color:#333;padding:3px 0 3px 30px}
.board-list-table .file-list .doc {background:url(/_Img/Board/default/ico_pdf.gif) no-repeat 0 0;}
.board-list-table .file-list .hwp {background:url(/_Img/Board/default/ico_hwp.gif) no-repeat 0 0;}
.board-list-table .file-list .xls {background:url(/_Img/Board/default/ico_xls.gif) no-repeat 0 0;}
.board-list-table .file-list .pdf {background:url(/_Img/Board/default/ico_pdf.gif) no-repeat 0 0;}
.board-list-table .file-list .wav {background:url(/_Img/Board/default/ico_wav.gif) no-repeat 0 0;}
.board-list-table .file-list .ppt {background:url(/_Img/Board/default/ico_ppt.gif) no-repeat 0 0;}
.board-list-table .file-list .zip {background:url(/_Img/Board/default/ico_zip.gif) no-repeat 0 0;}
.board-list-table .file-list .vod {background:url(/_Img/Board/default/ico_vod.gif) no-repeat 0 0;}
.board-list-table .file-list .img {background:url(/_Img/Board/default/ico_img.gif) no-repeat 0 0;}
.board-list-table .file-list .word {background:url(/_Img/Board/default/ico_word.gif) no-repeat 0 0;}
.board-list-table .file-list li a:hover {text-decoration:underline;}

/* li style */
.board-list-li {width:100%;}
.board-list-li li {border-bottom:1px solid #ddd;padding:15px 10px 15px 60px;position:relative;}
.board-list-li li.isNotice {border-bottom:1px solid #bac2ca;}
.board-list-li li.isNotice .subject {font-weight:bold;}
.board-list-li .num {position:absolute;top:50%;margin-top:-11px;left:5px;width:50px;text-align:center;}
.board-list-li .subject {display:block;margin-right:270px;}
.board-list-li .subject .stitle {display:block;width:100%;}
.board-list-li .subject .stitle a {width:auto;display:inline-block;max-width:86%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;vertical-align:top;}
.board-list-li .subject .cate {color:#1b569f;font-size:13px;padding-right:10px;}
.board-list-li .subject .reply {background:url(/_Img/Board/default/ico_reply.gif) no-repeat 3px 3px;padding:0 6px 0 20px;font-weight:bold;color:#333;}
.board-list-li .cont {position:absolute;top:15px;right:0;font-size:12px;}
.board-list-li .cont span {background:url(/_Img/Board/default/vbar.gif) no-repeat 0 5px;padding:0 10px;}
.board-list-li .cont span:first-child {background:none;}
.board-list-li .new, .board-list-li .files, .board-list-li .secret {margin-left:4px;}


/* 페이징 스타일 =============== */
.board-list-paging {margin-top:20px;text-align:center;clear:both;width:100%}
.pagelist {text-align:center;line-height:110%;position:relative;height:30px;}
.pagelist * {vertical-align:middle;line-height:120%;}
.pagelist span {font-family:arial;color:#777 !important;font-size:12px;}
.pagelist a span {cursor:pointer;display:block;width:30px;height:25px;line-height:23px;padding-top:5px;border:1px solid #e2e2e2;border-left:0;}
.pagelist strong, .pagelist a {display:inline-block;line-height:120%;background:#fff;}
.pagelist strong span, .pagelist a:hover span, .pagelist a:focus span, .pagelist a:active span {color:#fff !important; text-decoration: underline;width:30px;height:25px;line-height:23px;display:inline-block;vertical-align:middle;background:#1e64ba;padding-top:5px;border-left:0;}
.pagelist strong{margin:0 0px 0 4px}
/* 버튼 */
.pagelist button {display:inline-block;margin-top:2px;line-height:120%;background:#fff;vertical-align:top;border:0;width:31px;height:25px;overflow:visible;}
.pagelist button span {cursor:pointer;display:block !important;width:30px;height:25px;line-height:23px;padding-top:5px;border:1px solid #d7d8d8;border-left:0;}
.pagelist strong span, .pagelist button:hover span, .pagelist button:focus span, .pagelist button:active span {color:#fff !important; text-decoration: underline;width:30px;height:25px;display:inline-block;vertical-align:middle;background:#1e64ba;padding-top:5px;border-left:0;}

.pagelist .firstpage span, .pagelist .lastpage span, .pagelist .firstpage1 span, .pagelist .lastpage1 span,
.pagelist .prevblock span, .pagelist .nextblock span, .pagelist .prevblock1 span, .pagelist .nextblock1 span,
.pagelist .prevpage span, .pagelist .nextpage span, .pagelist .prevpage1 span, .pagelist .nextpage1 span {padding-top:0px;border:0px !important; background:none !important;visibility:hidden;}
.pagelist .firstpage , .pagelist .lastpage , .pagelist .firstpage1 , .pagelist .lastpage1, .pagelist .prevblock , .pagelist .nextblock , .pagelist .prevblock1 , .pagelist .nextblock1 ,
.pagelist .prevpage , .pagelist .nextpage  , .pagelist .prevpage1 , .pagelist .nextpage1  {display:inline-block;margin-top:2px;background-image:url(/_Img/Board/btn_page.gif);background-repeat:no-repeat;height:30px;width:31px;overflow:hidden;}

/*비활성*/
.pagelist .firstpage1  {background-position:0 -64px;border:0}
.pagelist .prevblock1 {background-position:-31px -64px;border:0}
.pagelist .nextblock1 {background-position:-63px -64px;border:0}
.pagelist .lastpage1 {background-position:-94px -64px;border:0}

/*활성*/
.pagelist .firstpage  {background-position:0 0;border:0}
.pagelist .prevblock {background-position:-31px 0;border:0}
.pagelist .nextblock {background-position:-63px 0;border:0}
.pagelist .lastpage {background-position:-94px 0;border:0}

/*오버
.pagelist .firstpage:hover {background-position:0px -33px;}
.pagelist .prevblock:hover {background-position:-32px -33px;}
.pagelist .nextblock:hover {background-position:-66px -33px;}
.pagelist .lastpage:hover {background-position:-98px -33px;}
*/
/* 버튼 */
.board-list-btns, .board-write-btns {width:100%;margin:20px 0;text-align:right;font-size:13px;}
/* .board-list-btns a {display:inline-block;vertical-align:top;padding:0 27px;font-weight:700;height:40px;line-height:40px;}
.board-list-btns a.p-btn {background:#3168b2;color:#fff;}
.board-list-btns a.g-btn {background:#48525e;color:#fff;}
.board-list-btns a.w-btn {padding:0 25px;height:38px;line-height:38px;background:#fff;color:#444;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-right:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;}
 */
/* input버튼 */
.board-list-btns input.p-btn {border:0;background:#3168b2;color:#fff;padding:12px 25px;font-weight:700;overflow:visible;text-align:center;display:inline-block;vertical-align:top;height:40px;line-height:16px;}

/* 게시판 글쓰기 */
.board-write-tbl {table-layout:fixed;width:100%;border-collapse:collapse;border-top:2px solid #3478bf;text-align:center;color:#666;}
.board-write-tbl tbody th {padding:8px 10px 8px 15px;height:19px;border-bottom:1px solid #ddd;border-right:1px solid #bac2ca;font-size:13px;color:#666;text-align:left;width:20%;}
.board-write-tbl th label {padding-left:18px;position:relative;}
.board-write-tbl th label .nec {background:url(/_Img/Common/ico_nec.png) no-repeat 0 3px;text-indent:-9999px;display:block;position:absolute;top:0px;left:0px;width:9px;height:15px;}
.board-write-tbl tbody td {border-bottom:1px solid #ddd;padding:10px;/* height:19px; */width:80%;}
.board-write-tbl tbody td.l {padding-left:15px;}
#board-wrap .board-write-tbl input.text {vertical-align:middle;height:25px;line-height:25px;background:#f8f8f8;border:1px solid #e4e4e4;border-top:1px solid #cbcbcb;border-left:1px solid #cbcbcb;}
.board-write-tbl td label {padding-left:8px;}
.board-write-tbl td select {height:25px;min-width:100px;vertical-align:middle;}
.board-write-tbl td textarea.textarea {margin-top:15px;}
.board-write-tbl input[type="radio"], .board-write-tbl input[type="checkbox"] {vertical-align:middle;}

/* 게시판 글내용 */
/*상단 출력 정보*/
.board-view-head {position:relative;border:1px solid #ddd;border-top:2px solid #3478bf;border-bottom:0;}
.board-view-head .board-view-title {position:relative;width:100%;background:#f9f9f9;}
.board-view-head .vtitle {text-align:left;line-height:140%;color:#333;font-weight:700;font-size:14px;padding:18px 25px;width:64%;}
.board-view-head .vtitle-winfo {position:absolute;top:18px;right:24px;font-size:12px;color:#666;}
.board-view-head .vtitle-winfo span {background:url(/_Img/Board/default/vbar.gif) no-repeat 0 5px;padding-left:8px;margin-left:8px;}
.board-view-head .vtitle-winfo span:first-child {background:0;margin:0;padding:0;}
.board-view-head .cate {display:inline-block;font-weight:normal;font-size:13px;padding-right:8px;color:#1b569f;}
.board-view-head .is_notice {display:inline-block;font-size:80%;color:#F47E16;}
.board-view-head .board-view-winfo {/* border-top:1px solid #999; */border-bottom:1px solid #bac2ca;}
.board-view-head .board-view-winfo > div:first-child {border-top:0;}
.board-view-winfo {width:100%;overflow:hidden;}
.board-view-winfo .board-winfo-txt {position:relative;border-top:1px solid #ddd;padding:0 5px;font-size:13px;overflow:hidden;}
.board-view-winfo span {background:#fff;}
.board-view-winfo .ilbl {display:inline-block;font-weight:700;color:#666;text-align:center;padding:15px 0;width:107px;}
.board-view-winfo .txt {display:inline-block;background:#fff;margin-right:10px;padding:15px 0 15px 28px;border-left:1px solid #e6e6e6;}
.board-view-winfo .ip {background:url(/_Img/Board/default/ico_ip.png) no-repeat 0 2px;padding-left:22px;font-size:12px;color:#666;}
.board-winfo-list {position:relative;border-top:1px solid #ddd;padding-top:5px;padding-bottom:5px;font-size:11px;}

/*내용*/
.board-view-cont {display:block;position:relative;overflow-x:hidden;/* width:100%; */padding:30px 20px 0;margin-left:0px;margin-right:0px;border-bottom:1px solid #bac2ca;} /* width값 입력시 padding, margin값 체크바람*/
.board-view-files {display:block;position:relative;width:100%;overflow-x:hidden;text-align:center;}
.board-view-files p.mg10f {max-width:100%;width:100%;}
.board-view-files p.mg10f img {max-width:100%;}
.board-view-contents {display:block;position:relative;margin-left:0px;margin-right:0px;margin-bottom:30px;}
.board-view-cnotents #boardContents img {max-width:99%;}
.board-writer-ip {text-align:right;border-top:1px dotted #c2c2c2;font-size:11px;padding:5px;}
.board-view-cont table caption {width:1px;height:1px;overflow:hidden;position:absolute;top:0;left:0;}

/*파일 다운로드 리스트*/
.board-winfo-files {position:relative;padding:0 5px;font-size:13px;overflow:hidden;}
.board-winfo-files .ilbl {float:left;}
.board-view-filelist {display:block;width:auto;padding:10px 0 10px 28px;float:left;overflow:hidden;border-left:1px solid #e6e6e6;}
.board-view-filelist li {margin:2px 0;font-size:12px;}
.board-view-filelist li img {margin-right:3px;}

/* 관련링크 리스트 */
.board-winfo-links {position:relative;font-size:13px;padding:0 5px;overflow:hidden;}
.board-winfo-links .ilbl {float:left;}
.board-view-linklist {display:block;padding:15px 0 15px 28px;float:left;border-left:1px solid #e6e6e6;}

/*버튼*/
.board-view-btns {display:block;margin-top:20px;text-align:right;}

/*이전글,다음글*/
.board-view-list {display:block;position:relative; border-top:1px solid #c2c2c2;border-bottom:1px solid #c2c2c2;}
.board-list-tbl {}
.board-list-tbl th {background:#f7f7f7;padding-top:6px;padding-bottom:6px; font-size:11px; border-bottom:1px solid #dcdcdc;}
.board-list-tbl td {border-bottom:1px solid #dcdcdc;}
.board-list-tbl .last {border:0px}

.board-view-more {display:block;position:relative;width:100%;border-top:1px solid #bbbbbb;border-bottom:1px solid #bac2ca;margin-top:20px;margin-bottom:40px;}
.board-view-more ul {position:relative;width:100%;overflow:hidden;padding:20px 0;}
.board-view-more li {width:46%;height:100%;float:right;text-align:right;background:url(/_Img/Board/default/pnnarticlearr_next.gif) no-repeat right center;}
.board-view-more li a {display:block;position:relative;padding-top:10px;padding-bottom:10px;padding-right:45px;}
.board-view-more li a .ico {position:absolute;top:15px;display:block;overflow:hidden;background:url(/_Img/Common/cprvnxt_btns01.gif) no-repeat left top;width:15px;height:30px;}
.board-view-more li .lbl {font-weight:bold;color:#1e64ba;font-size:1.025em;display:block;}
.board-view-more li .subject {font-weight:normal;color:#666;font-size:1em;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;margin-top:5px;}
.board-view-more li:first-child {float:left;width:49%;border-right:1px solid #c4c4c4;text-align:left;background:url(/_Img/Board/default/pnnarticlearr_prev.gif) no-repeat 0 center;}
.board-view-more li:first-child a {padding-left:45px;}
.board-view-more .new, .board-view-more .secret {margin:0 4px;}


/*코멘트 리스트 - 내용 답변형태 */
.board-view-reply {display:block;position:relative;width:100%;border-top:1px solid #eee;padding-top:15px;background:#f8f8f8;}

/* 코멘트 리스트*/
.board-cmt-listtop.line {border-bottom:1px solid #ddd;padding-bottom:15px;font-size:12px;}
.board-cmt-listtop strong {background:url(/_Img/Board/default/ico_cmt.gif) no-repeat 1px 3px;padding:0 6px 5px 14px;color:#555}
.board-cmt-listtop .cmt {color:#1e64ba;font-weight:700;}
.board-cmt-list-wrap {padding:0px 0 15px;}
.board-cmt-wrap {margin-top:20px;}
.board-cmt-wrap #boardCommentList {}
.board-cmt-list {display:block;position:relative;width:100%;}
.board-cmt-list:after {clear:both;content:"";display:block;}
.board-cmt-list li {border-bottom:1px solid #ccc;}
.board-cmt-list .cmt-container {display:block;position:relative;padding:15px 0px 15px 0px;}
.board-cmt-list .isScrCmt {padding:0 15px;}
.board-cmt-list .cmt-writer {font-weight:700;font-size:13px;color:#333;padding-left:10px;}
.board-cmt-list .cmt-date {padding-left:10px;color:#666;font-size:12px;}
.board-cmt-list .cmt-contents {/* margin:7px 0 0 10px; */padding:10px;}
/* .board-cmt-list .cmt_contents  {margin:7px 0 0 10px;}*/
.board-cmt-list .cmt-item-btns {display:block;position:absolute;right:10px;top:10px;}
.board-cmt-list .cmt-item-btns button {border:0;background:none;border-left:1px solid #c1c1c1;padding-left:5px;line-height:13px;font-size:12px;font-weight:bold;cursor:pointer;color:#888;}
.board-cmt-list .cmt-item-btns button:first-child {border:0;padding:0;margin-right:3px}
.board-cmt_paging {margin:15px 0 10px;text-align:right;}

.cmt-reply-wrap {position:relative;}
.cmt-reply-wrap:after {clear:both;content:"";display:block;}
.cmt-container .cmtfile {font-size:11px;margin-left:10px;}

/*코멘트 수정,삭제폼*/
.cmt-item-frm {position:relative;display:none;border:1px solid #ddd;margin-top:15px;background:#f0f0f0;}
.cmt-item-frm  * , .cmt-del-frm * {vertical-align:middle;}
.cmt-item-frm .ilbl {width:98px;padding-top:12px;display:inline-block;border-right:1px solid #ddd;height:31px;background:#fff;font-weight:bold;color:#666;text-align:center;}
#bCommentist .cmt-item-frm input.text, #bCommentist .cmt-del-frm input.text {width:50%;height:25px;line-height:25px;padding-left:3px;background:#fff;vertical-align:middle;border:0;background:#fbfbfb;}
.cmt-item-frm .secret-cmt {background:#fff;border-bottom:1px solid #ddd;padding:12px 0 0 20px;height:31px;}
.cmt-item-frm textarea {width:96%;height:39px;padding:20px 2%;margin:0;background:#f0f0f0;border:0;}
.cmt-item-frm .cmt-write-btn {position:absolute;right:-1px;bottom:-1px;height:80px;}
.cmt-item-frm .cmt-item-close {position:absolute;right:0;top:0;border:0;width:123px;height:44px;background:#fff;text-align:center;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
.cmt-item-frm .cmt-item-close span {background:url(/_Img/Board/default/co_btn_close.png) no-repeat right 0;padding:0 30px 4px 0;font-size:12px;vertical-align:top;}
.btn-cmt {background:#6c707b;color:#fff;font-size:13px;width:124px;height:80px;border:0;padding:0;overflow:visible;text-align:Center;cursor:pointer;}
.cmt-del-frm {position:relative;display:none;padding:15px 15px 5px;text-align:center;/* border-top:1px solid #ccc;margin-top:15px; */margin-top:-8px;background:#fff;}
.cmt-del-frm .txt {font-size:13px;margin-right:15px;background:url(/_Img/Board/default/ico_cmt_del.gif) no-repeat 0 0;padding:0 0 0px 30px;height:22px;display:inline-block;}
.cmt-del-frm .cmt-item-close {border:0;background:none;position:absolute;top:10px;right:15px}
.cmt-mod-pwd {border-bottom:1px solid #ddd;background:#fbfbfb;height:43px;}

/* 코멘트 쓰기 */
.bcmt-wfrm-h {background:#fff;min-height:43px;border-bottom:1px solid #ddd;overflow:hidden;}
#board-wrap .bcmt-write-wrap input.text {float:left;background:#fbfbfb;height:43px;line-height:43px;vertical-align:middle;border:0;width:25%;}
.bcmt-write-wrap {width:100%;text-align:left;margin-top:15px;display:block;position:relative;}
.bcmt-title {background:url(/_Img/Board/default/ico_cmt.gif) no-repeat 1px 3px;padding:0 6px 5px 14px;font-size:13px;color:#555}
.bcmt-write-h {display:block;position:relative;width:100%;margin-bottom:10px;}
.bcmt-wfrm-wrap {border:1px solid #ddd;background:#f0f0f0;position:relative;}
.bcmt-wfrm-wrap .ilbl {color:#666;float:left;background:#fff;width:98px;height:31px;text-align:center;border-left:1px solid #ddd;border-right:1px solid #ddd;vertical-align:top;padding-top:12px;font-weight:bold;}
.bcmt-wfrm-wrap .ilbl:first-child {border-left:0;}
.bcmt-wfrm-wrap .secret-cmt {background:#fff;padding:12px 0 0 20px;height:31px;}
.bcmt-wfrm-wrap .bcmt-wfrm-c {position:relative;height:79px;}
.bcmt-wfrm-wrap textarea {width:82%;height:39px;padding:20px 10px;border:0;background:#f0f0f0;}
.bcmt-wfrm-regcode {margin-top:10px;line-height:130%;}
.bcmt-wfrm-regcode .norobot_img {border:2px solid #ddd;float:left;margin-right:15px;background:#fff;}
.bcmt-wfrm-regcode .cmt-write-btn {position:absolute;right:0;bottom:5px;border:0;}
.bcmt-wfrm-wrap .bcmt-write-btn  {position:absolute;right:-1px;bottom:-1px;height:80px;}
.bcmt-write-btn-e  {margin-top:10px;text-align:right;}

/* 답변목록 */
.board-reply-wrap {margin:10px 0;border-bottom:1px solid #ccc;}
.board-reply-wrap .board-reply-top {padding:15px 0 15px 20px;font-size:14px;background:url(/_Img/Board/default/ico_reply.gif) no-repeat 2px 18px;border-bottom:1px solid #ddd;color:#333;}
.board-reply-wrap .reply-container {padding:15px 0;}
.board-reply-wrap .reply-container .reply-writer {font-weight:700;font-size:13px;color:#333;padding-left:10px;}
.board-reply-wrap .reply-container .reply-contents {clear:both;padding:10px;}
.board-reply-wrap .reply-container .reply-date {padding-left:10px;color:#666;font-size:12px;}

/* 보도자료 리스트 */
.news-list li {border-top:1px solid #ddd;padding:20px;overflow:hidden;}
.news-list li:first-child {border:0;}
.news-list li:hover {background:#f6f6f6}
.news-list li:hover .subject {text-decoration:underline;}
.news-list .subject {display:block;font-size:15px;font-weight:700;color:#043d86;margin:5px 0 10px;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.news-list .thum {width:190px;height:127px;overflow:hidden;background:#e0e0e0 url(/_Img/Board/thum_logo.png) no-repeat center center;float:left;margin-right:30px;}
.news-list .thum img {width:190px;height:100%;}
.news-list .news-cont {float:left;width:69%;}
.news-list .news-cont p {padding:3px 0;/* height:86px; */overflow:hidden;margin-bottom:15px;line-height:18px;}
.news-list .news-cont.full {width:100%;}
.news-list .date {font-size:11px;}

/* 사진게시판 공통 =============== */
#photo {border-top:2px solid #3478bf;border-bottom:1px solid #bac2ca;padding-bottom:40px;overflow:hidden;}
#photo .photo-list li {display:inline-block;vertical-align:top;margin:40px 0.2% 0;width:24%;/* padding:0px 0 20px 20px; */}
/* #photo .photo-list li.first {margin-left:0;padding-left:0} */
#photo .photo-list li:hover .list-cont a {color:#043d86;text-decoration:underline;}
#photo .photo-list li a {display:block;width:100%;height:100%;}
#photo .photo-list li .thum {position:relative;float:left;display:block;width:100%;height:100%;background:#e0e0e0;overflow:hidden;min-height:132px;max-height:147px;}
#photo .photo-list li .thum img {width:100%;height:100%;overflow:hidden;min-width:100%;min-height:148px;}
#photo .photo-list li .thum:hover .cover {display:block;position:absolute;top:0;left:0;background:#000 url(/_Img/Common/ico_ovmore.png) no-repeat 50% 50%;opacity:0.6;filter:Alpha(opacity=60);width:100%;height:100%;}
#photo .photo-list li .stitle {display:block;padding-top:12px;font-weight:bold;font-size:14px;color:#444;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
#photo .photo-list li .pcont {font-size:12px;color:#666;margin-top:5px;}
#photo .photo-list li .pcont span {background:url(/_Img/Board/default/vbar.gif) no-repeat 0 5px;padding-left:10px;margin-left:10px;}
#photo .photo-list li .pcont span:first-child {background:none;padding:0;margin:0;}


/* #photo .photo-list li .thum {width:175px;height:117px;overflow:hidden;display:block;background:#e0e0e0 url(/_Img/Board/thum_logo.png) no-repeat center center;position:relative;}
#photo .photo-list li .thum img {width:175px;}
#photo .photo-list li .list-cont {width:175px;font-size:13px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-top:8px;}
#photo .photo-list li .date {color:#767676;} */

/* 사진게시판 리스트형
.photo-list-wrap .list-latest {overflow:hidden;padding:20px 0;border-bottom:1px solid #ddd;margin-bottom:20px;text-align:center;}
.photo-list-wrap .list-latest li {display:inline-block;*display:inline;*zoom:1;vertical-align:top;margin-left:10px;position:relative;}
.photo-list-wrap .list-latest li:first-child {margin-left:0;}
.photo-list-wrap .list-latest li:hover .latest-cont a {text-decoration:underline;}
.photo-list-wrap .list-latest li .thum {display:block;width:370px;height:247px;overflow:hidden;background:#e0e0e0 url(/_Img/Board/thum_logo.png) no-repeat center center;}
.photo-list-wrap .list-latest li .thum img {width:370px;}
.photo-list-wrap .list-latest li .latest-cont {position:absolute;left:0;bottom:0;width:100%;height:50px;background:url(/_Img/Board/opacity_bg.png) repeat 0 0;}
.photo-list-wrap .list-latest li .latest-cont a {width:315px;display:block;font-weight:700;font-size:14px;padding:15px 20px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#fff;}
 */
/* 사진게시판 바로보기형
.photo-vlist-wrap {overflow:hidden;position:relative;width:100%;}
.photo-vlist {overflow:hidden;width:100%;}
.photo-vlist .title {font-size:16px;color:#333;font-weight:700;text-align:center;line-height:46px;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.photo-vlist #photo-scroll {float:left;width:760px;height:510px;position:relative;}
.photo-vlist #photo-scroll .gcont  {width:760px;height:510px;background:#e0e0e0 url(/_Img/Board/thum_logo.png) no-repeat center center;}
.photo-vlist #photo-scroll .gcont  img {width:760px;height:510px;overflow:hidden;}
.photo-vlist #photo-scroll .gcont .caption {position:absolute;bottom:0;left:0;width:760px;color:#fff;z-index:200;background:url(/_Img/Board/opacity_bg.png) repeat 0 0;}
.photo-vlist #photo-scroll .gcont .caption .txt {word-break:keep-all;padding:20px;font-size:13px;}
 */

/* 썸네일영역
.photo-vlist-wrap .photo-list2 {position:relative;margin-top:20px;border-top:1px solid #ddd;padding-top:20px;}
.photo-vlist-wrap .photo-list2 ul {display:block;overflow:hidden;}
.photo-vlist-wrap .photo-list2 li {float:left;width:175px;margin-left:20px;}
.photo-vlist-wrap .photo-list2 li:first-child {margin-left:0;}
.photo-vlist-wrap .photo-list2 li .nicon {display:block;}
.photo-vlist-wrap .photo-list2 li .nicon.over {border:4px solid #ae074f;display:block;z-index:100}
.photo-vlist-wrap .photo-list2 li .nicon.over img {width:167px;height:107px;}
.photo-vlist-wrap .photo-list2 li img {width:175px;height:115px;overflow:hidden;}
 */

/* 컨트롤버튼 */
.photo-vlist .ctrl-btn {width:760px;position:relative;z-index:300}
.photo-vlist .ctrl-btn button {position:absolute;top:230px;z-index:100;border:0;background:url(/_Img/Board/photo/ctrl_btn_bg.png) no-repeat;width:55px;height:49px;text-indent:-9999px;}
.photo-vlist .ctrl-btn .btn-prev {left:0;}
.photo-vlist .ctrl-btn .btn-next {right:0;background-position:-56px 0}
.photo-vlist .ctrl-btn button:hover.btn-prev, .ctrl-btn button:focus.btn-prev,.ctrl-btn button:active.btn-prev {background-position:0 -50px;}
.photo-vlist .ctrl-btn button:hover.btn-next,.ctrl-btn button:focus.btn-next, .ctrl-btn button:active.btn-next {background-position:-56px -50px;}

/* 동영상게시판 */
.photo-list .play {display:block;position:absolute;top:42px;left:62px;width:49px;height:34px;background:url(/_Img/Board/vod/ico_play.png) no-repeat 0 0;text-indent:-9999px;}
.photo-list li:hover .play {background:url(/_Img/Board/vod/ico_play_o.png) no-repeat 0 0}


/* 웹진게시판 =============== */
/* 기본 / 세로형 + 공통 */
.webzine-list {overflow:hidden;margin-top:20px;}
.webzine-list li {float:left;padding:0px 0 20px 20px;overflow:hidden;position:relative;}
.webzine-list li.first {padding-left:0;}
.webzine-list li:hover .subject a {text-decoration:underline;color:#043d86;}
.webzine-list li .thum {display:block;width:175px;height:230px;margin-bottom:10px;background:#e0e0e0 url(/_Img/Board/thum_logo.png) no-repeat center center;}
.webzine-list li .thum img {width:175px;height:230px;overflow:hidden;}
.webzine-list li .subject {width:150px;font-size:13px;height:38px;line-height:18px;overflow:hidden;}
.webzine-list li .subject a {display:block;}
.webzine-list li .ico-wrap {position:absolute;bottom:30px;right:0;width:30px;text-align:right;}
.webzine-list li .ico-wrap a {display:inline-block;width:25px;height:25px;margin-left:3px;}
.webzine-list li .ico-wrap a span {width:1px;height:1px;overflow:hidden;font-size:0;line-height:0;position:absolute;top:-1000em;left:-1000em;}
.webzine-list li .ico-wrap .view {background:url(/_Img/Board/webzine/ico_view.gif) no-repeat 0 0;}
.webzine-list li .ico-wrap .down {background:url(/_Img/Board/webzine/ico_down.gif) no-repeat 0 0;}

/* 가로형 */
.webzine-list.hrz li .thum, .webzine-list.hrz li .thum img {width:240px;height:160px;}
.webzine-list.hrz li .subject {width:185px;height:20px;overflow:hidden;}
.webzine-list.hrz li .subject a {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.webzine-list.hrz li .ico-wrap {position:absolute;bottom:13px;right:0;width:60px;}

/* 뉴스레터게시판 =============== */
.newsletter-list {overflow:hidden;margin-top:20px;}
.newsletter-list li {float:left;padding:0 0 25px 20px;overflow:hidden;position:relative;}
.newsletter-list li.first {padding-left:0;}
.newsletter-list li:hover .subject a, .newsletter-list li:focus .subject a, .newsletter-list li:active .subject a {text-decoration:underline;color:#043d86;}
.newsletter-list li .thum {display:block;width:350px;height:460px;margin-bottom:10px;background:#e0e0e0 url(/_Img/Board/thum_logo.png) no-repeat center center;border:1px solid #bbb;overflow:hidden;}
.newsletter-list li .thum img {width:350px;}
.newsletter-list li .subject {font-size:13px;}
.newsletter-list li .subject a {display:block;}

/* faq 게시판 =============== */
.faq-list-wrap {position:relative;display:block;width:100%;} 
.faq-list-wrap:after {clear:both;content:"";display:block;}
.board-faq-list {position:relative;display:block;width:100%;}
.board-faq-list li {position:relative;display:block; width:100%;font-size:14px;}
.board-faq-list li:first-child .faq-in-wrap {border-top:0;}
.board-faq-list .faq-in-wrap {position:relative;display:block;border-top:1px solid #ddd;width:100%;overflow:hidden;background:url(/_Img/Board/faq/ico_fopen.png) no-repeat 99% 14px;}
.board-faq-list .faq-in-cont {position:relative;display:none;background:#f9f9f9 url(/_Img/Board/faq/ico_a.png) no-repeat 28px 24px;padding:20px 15px 20px 70px;border-top:1px solid #ddd;}
.board-faq-list li .pnum {float:left; display:inline-block; width:30px;text-align:center;}
.board-faq-list li .pcate {float:left;width:15%;margin-right:10px;font-size:13px;color:#1b569f;}
.board-faq-list li .pcont {float:left;width:76%;word-wrap:break-word;}
.board-faq-list li .ptitle {/* height:28px;  */width:90%;display:inline-block;background:url(/_Img/Board/faq/ico_q.png) no-repeat 28px 22px;}
.board-faq-list li .ptitle a {display:block;overflow:hidden;padding:18px 30px 15px 70px;width:100%;}
.board-faq-list li .date {position:absolute;right:5px; color:#999;font-size:11px;}

/* 마우스 오버시 스타일 지정*/
.board-faq-list li:hover, .board-faq-list tr:hover {} /*일반 텍스트 스타일 */
.board-faq-list li:hover a, .board-faq-list tr:hover a:visited {} /*링크텍스트 스타일*/
.board-faq-list .over .faq-in-wrap {background:url(/_Img/Board/faq/ico_fclose.png) no-repeat 99% 14px;}
.board-faq-list .over .ptitle {background:url(/_Img/Board/faq/ico_q_o.png) no-repeat 28px 22px;}
.board-faq-list .over .ptitle a {font-weight:700;color:#1b569f;}
.board-faq-list .over .pcate {font-weight:700;}
.board-faq-list .over .faq-in-cont {display:block;}
.board-faq-list .over .faq-in-cont .faq-contents {word-wrap:break-word;width:95%;}

/* 홍보관용 테이블 */
.adm-bpg {margin-top:-10px;}
.tbl-adm {width:100%;border-collapse:collapse;border-top:2px solid #043d86;text-align:center;color:#666;}
.tbl-adm tbody th {background:#f3f5f8;padding:3px 0;height:19px;border-bottom:1px solid #ddd;border-right:1px solid #bac2ca;font-size:13px;color:#043d86}
.tbl-adm tbody td {border-bottom:1px solid #ddd;padding:3px 0;height:19px;}
.tbl-adm tbody td.l {padding-left:15px;}


/* 고객의 소리 */
.customer-wrap {margin-top:20px;overflow:hidden;}
.customer-wrap .top-txt {float:right;color:#df2519;margin:8px 0 5px;}
.customer-wrap .tbl-form {table-layout:auto;}
.customer-wrap .tbl-form th {width:15%;}
.customer-wrap .tbl-form td {width:85%;}
.customer-wrap .tbl-form td input::-webkit-input-placeholder {color:#f8f8f8;}
.customer-wrap .tbl-form td input:-moz-placeholder {color:#f8f8f8;}
.customer-wrap .tbl-form td input::-moz-placeholder {color:#f8f8f8;}
.customer-wrap .tbl-form td input:-ms-input-placeholder {color:#f8f8f8;}
.customer-wrap .tbl-form td textarea {border:1px solid #ddd;background:#f8f8f8}
.customer-wrap .mbtn-wrap {margin:40px 0;text-align:center;}
.customer-wrap .agree-box {border:1px solid #ddd;background:#fbfbfb;padding:2.5% 3.2%;height:211px;clear:both;}
.customer-wrap .agree-box .agree-txt {overflow-y:auto;width:100%;height:100%;}
.customer-wrap .chk-wrap {text-align:center;padding-top:20px;}
.customer-wrap .board-search-wrap {text-align:right;}
.customer-wrap .board-search-wrap .board-search {float:none;}
@media all and (max-width:999px){
.customer-wrap .tbl-form th {width:20%;}
.customer-wrap .tbl-form td {width:80%;}	
.customer-wrap .mbtn-wrap {margin-top:25px;}
}	
@media all and (max-width:768px){
.customer-wrap .tbl-form {border:1px solid #ddd;border-top:2px solid #0c5abe;border-bottom:0;letter-spacing:0;}
.customer-wrap .tbl-form tr {overflow:hidden;display:block;}
.customer-wrap .tbl-form th, .customer-wrap .tbl-form td {border:0;background:#fff;display:block;width:95% !important;float:left;}
.customer-wrap .tbl-form th {font-size:1.154em;padding:15px 0 5px}
.customer-wrap .tbl-form th label {padding-left:2.5%;}
.customer-wrap .tbl-form td {position:relative;border-bottom:1px solid #ddd;padding:5px 2.5% 15px;font-size:1.154em;}
.customer-wrap .tbl-form td .sw-btn {position:absolute;top:-30px;right:2.5%;letter-spacing:-1px;}
.customer-wrap .tbl-form td input[type=text], .customer-wrap .tbl-form td input[type=password] {width:98%;border:0;background:#f0f0f0;margin:2px 0;height:40px;color:#444;}
.customer-wrap .tbl-form td input[type=text]::-webkit-input-placeholder, .customer-wrap .tbl-form td input[type=password]::-webkit-input-placeholder {color:#444;}
.customer-wrap .tbl-form td input[type=text]:-moz-placeholder, .customer-wrap .tbl-form td input[type=password]:-moz-placeholder {color:#444;}
.customer-wrap .tbl-form td input[type=text]::-moz-placeholder, .customer-wrap .tbl-form td input[type=password]::-moz-placeholder {color:#444;}
.customer-wrap .tbl-form td input[type=text]:-ms-input-placeholder, .customer-wrap .tbl-form td input[type=password]:-ms-input-placeholder {color:#444;}
.customer-wrap .tbl-form td input.text.w40p {width:40%;}
.customer-wrap .tbl-form td input.text.w90 {width:90px;}
.customer-wrap .tbl-form td input.text.w50 {width:28% !important}
.customer-wrap .tbl-form td input.text.w20p, .customer-wrap .tbl-form td input.text.w25p, .customer-wrap .tbl-form td select.select {width:25%;height:40px;}
.customer-wrap .tbl-form td textarea {background:#f0f0f0;border:0;}
}
@media all and (max-width:480px){
.customer-wrap .tbl-form td input.text.w50 {width:25% !important}
.customer-wrap .tbl-form td input.text.w20p, .member-form .tbl-form td input.text.w25p {width:40%;}
.customer-wrap .tbl-form td select.select {width:95%;margin-top:5px;}	
.customer-wrap .mbtn-wrap .lp-btn {padding:0 20px;min-width:110px;}
.customer-wrap .mbtn-wrap .lw-btn {min-width:70px;}
}	

/* 상태값 */
.stat01, .stat02, .stat03, .stat04, .stat05, .stat06, .stat07, .stat08, .stat09 {display:inline-block;min-width:38px;padding:1px 5px 0;font-size:11px;letter-spacing:-1px;text-align:center;font-style:normal;}
.stat01 {border:1px solid #a4d89a;color:#3f7c1f;background:#fff;}
.stat02 {border:1px solid #c2caea;color:#4262c7;background:#fff;}
.stat03 {border:1px solid #debfeb;color:#8d42a4;background:#fff;}
.stat04 {border:1px solid #f3bec9;color:#c12449;background:#fff;}
.stat05 {border:1px solid #f3a2dd;color:#c344a1;}
.stat06 {border:1px solid #90d0c5;color:#018271;}
.stat07 {border:1px solid #e9bea4;color:#b75601;}
.stat08 {border:1px solid #9fc6e7;color:#206cad;background:#ebf3fd;}
.stat09 {border:1px solid #d2d2d2;color:#666666;background:#e6e6e6;}
.stat11, .stat12, .stat13, .stat14, .stat15, .stat16, .stat17, .stat18, .stat19, .stat20 {display:inline-block;min-width:40px;height:20px;padding:1px 5px;font-size:11px;letter-spacing:-1px;text-align:center;font-style:normal;}
.stat11 {color:#3f7c1f;background:url(/_Img/Common/stat_bg11.gif) repeat 0 0;}
.stat12 {color:#4262c7;background:url(/_Img/Common/stat_bg12.gif) repeat 0 0;}
.stat13 {color:#8d42a4;background:url(/_Img/Common/stat_bg13.gif) repeat 0 0;}
.stat14 {color:#c12449;background:url(/_Img/Common/stat_bg14.gif) repeat 0 0;}
.stat15 {color:#c344a1;background:url(/_Img/Common/stat_bg15.gif) repeat 0 0;}
.stat16 {color:#018271;background:url(/_Img/Common/stat_bg16.gif) repeat 0 0;}
.stat17 {color:#b75601;background:url(/_Img/Common/stat_bg17.gif) repeat 0 0;}
.stat18 {color:#206cad;background:url(/_Img/Common/stat_bg18.gif) repeat 0 0;}
.stat19 {color:#666666;background:url(/_Img/Common/stat_bg19.gif) repeat 0 0;}
.stat20 {color:#fff;background:url(/_Img/Common/stat_bg20.gif) repeat 0 0;}



/* 추가 갤러리 */
/* 리스트 */
.board-vmovie-wrap {width:100%;position:relative;}
.vmovie-lview-wrap {position:relative;}
.vmovie-lview-area {height:auto;min-height:160px;}
.vmovie-view-loading {width:100%;background:#FFF;position:absolute;left:0;top:0px;z-index:300;opacity:0.7;alpha:0.7}
.vmovie-view-loading .loadImg {margin:0 auto;text-align:center;padding:50px 0;}
.vmovie-llist {position:relative;margin:0 auto 0 auto;}
.vmovie-list-cont {width:100%;max-width:100%;margin:0 auto 0 auto;position:relative;}
.vmovie-list-wrap {}
.vmovie-list {position:relative;width:100%;}
.vmovie-list:after {clear:both;content:"";display:block;}
.vmovie-list li {float:left;width:25%;height:180px;position:relative;font-size:12px;text-align:center;line-height:1.3em;margin-bottom:20px;}
.vmovie-list li a {display:block;width:96%;height:auto;margin:5px auto;z-index:1;}
.vmovie-list li a:hover .isMask,.vmovie-list li.over .isMask {display:block;border:2px solid #2ca838;position:absolute;left:-2px;top:-2px;width:100%;height:100%;z-index:100}
.vmovie-list li.over .isMask {background-color:transparent;}
.vmovie-list li .pimg {display:block;cursor:pointer;text-align:center;height:auto;width:100%;height:120px;position:relative;margin-bottom:15px;}
.vmovie-list li .pimg img {width:100%;height:100%;vertical-align:top;padding-bottom:0;margin:0;}
.vmovie-list li .ptit {max-height:3em;display:block;overflow:hidden;line-height:1.3em}

/* 뷰 */
.board-vmovie-view {position:relative;}
.board-vmovie-view .vmovie-view-contents {display:block;position:relative;margin-left:auto;margin-right:auto;text-align:left;padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:30px;background-color:#f9f9f9;border-bottom:1px solid #DDD;}
.board-vmovie-view .board-view-files {background-size:100% auto;}
.board-vmovie-view .board-view-files a {display:block;}
.board-vmovie-view img {max-width:100%;}
