@charset "utf-8";
/* CSS Document */

* {margin:0;padding:0;}
a {text-decoration:none;color:#000;}
img {vertical-align:top;border:0;width:200px;height:auto;}
ul {list-style:none;}

.cf {*zoom:1;}
.cf:after {clear:both;content:"";display:block;}

body > div {border:3px solid #222;padding:20px;margin-bottom:10px;}
textarea {width:90%;height:150px;padding:20px;margin-bottom:10px;}
