@charset "utf-8";
/* 2012-05-07  CSS  2.1 CENTUMSOFT */

/* html5 호환 설정*/
* {margin:0;padding:0;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { border: 0; outline: 0; background: transparent; font-size: 100%;}
table, caption, tbody, tfoot, thead, tr, th, td {outline: 0; background: transparent; font-size: 100%; }
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { display: block;}
nav ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}

a { margin: 0; padding: 0; border: 0; font-size: 100%; }
ins {  color: #000; text-decoration: none;}
mark {  color: #000; font-style: italic; font-weight: bold;}
del { text-decoration: line-through;}
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help;}

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0;}
input, select { }
th, td { }

/*body{font:13px/1.231 "돋움",arial,helvetica,clean,sans-serif; }*/
/* 돋움외 다른폰트 sub로 지정할 경우 ie8 + 에디터 사용시 줄간격 튀는 현상이 발생함*/
body {font-family:"나눔고딕",NanumGothic,"돋움","굴림",Gulim,Helvetica,sans-serif;/*font-family:"돋움체",arial,helvetica,clean,sans-serif;*//*font-size:75%;*font-size:small; *font:x-small;_font-size:74%;*/font-size:12px;color:#555;line-height:150%;}

select,input,button,textarea,button{font-family:"나눔고딕",NanumGothic,"돋움","굴림",Gulim,Helvetica,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}



/* 글자 속성 */
a{color:#555;text-decoration:none;}
a:visited,a:visited {color:#555;text-decoration:none;}
a.visited,a.visited:visited{color:#555;text-decoration:none;}
a:hover,a:hover ,a.visited:hover{color:#000;text-decoration:none;}

/* LIST 요소 기본 */
li {list-style:none;}
ul.fllist li {float:left;}
ul.fllist:after {clear:both;display:block;content:"";}
ol.onum li {list-style-type:decimal}
.onum {padding-left:22px;}


/* Form 요소들 기본 */
fieldset {padding:0px;margin:0px;border:0px;}
legend{display:none;}

input.text,  input.password {border:1px solid #ddd; height:14px;  padding:3px 2px 1px 2px; font-size:100%;line-height:110%;}
input.file {border:1px solid #ddd; height:16px;  padding:2px; font-size:100%;line-height:110%;}
input.image, input.radio, input.checkbox {border:0px !important;vertical-align:middle;padding:0px;margin:0px;}
input.num {text-align:right;border:1px solid #ddd; height:16px;  padding:2px; font-size:100%;line-height:110%;}
input.readonly {background-color:#f7f7f7;}
textarea {border:1px solid #ddd; padding:2px;}

.pointer, .hand{cursor:pointer;}

.en{font-family:verdana}
.icost{
	background:url(/_Img/Common/num_bar.gif) repeat right 0px;
	border:1px solid #aeaeae;
	text-align:right;
	width:86px;
	height:17px;
	padding-right:1px;
	letter-spacing:2px;font-family:verdana
}
.ipercent{
	background:url(/_Img/Common/num_bar.gif) repeat right 0px;
	border:1px solid #aeaeae;
	width:26px;
	text-align:right;
	height:17px;
	padding-right:1px;
	letter-spacing:2px;font-family:verdana
}
.inum{
background:url(/_Img/Common/num_bar.gif) repeat right 0px;
	border:1px solid #aeaeae;
	text-align:right;
	height:17px;
	padding-right:1px;
	letter-spacing:2px;font-family:verdana
}
.inum3 { width:26px;}
.inum4 { width:36px;}
.inum5 { width:46px;}
.inum6 { width:56px;}

/* 이미지 요소 기본 */
img {border:0px;vertical-align:middle;} 
img.button{cursor:pointer;}
button.imgBtn {padding:0px;margin:0px;border:0px;cursor:pointer;}

.imgBorder {padding:4px;border:1px solid #DDD;}


/* Table */
/*테이블 스타일 지정시 개별로 지정해주시기 바랍니다!!*/
/*
table { border-collapse: collapse; border-spacing: 0px;}
table.ashow {empty-cells:show;}
*/
* .no-data {height:100px;text-align:center;}
li.no-data {padding-top:50px;padding-bottom:50px;height:auto;text-align:center;width:100%;}



/*기본 스타일 정의*/
/*플로팅*/
.fr {float:right;}
.fl {float:left;}
.cr {clear:both;}
.aftercr:after {clear:both;content:"";display:block;}

/*박스유형*/
.isbox {display:block;position:relative;}
.isabs {position:absolute;}
.inline {display:inline-block;}

/*포지셔닝*/
.pos_r {position:relative;}
.pos_a {position:absolute;}
.pos_i {position:inline-block;}

/* 글자자름 */
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;   }

/*숨김*/
.hidden {visibility:hidden; width:1px; height:1px; overflow:hidden; font-size:0.1px;}

/*공백*/
.gap10 {height:10px;clear:both;overflow:hidden;}
.gap20 {height:20px;clear:both;overflow:hidden;}
.gap30 {height:30px;clear:both;overflow:hidden;}

.gap {height:40px;clear:both;}
.sgap {height:15px;clear:both;}
.ssgap {height:5px;clear:both;}

/*정렬*/
.left ,.l {text-align:left !important;}
.right,.r {text-align:right !important;}
.center, .c {text-align:center !important;}
.vtop,.vtop * {vertical-align:text-top !important;}
.vcen,.vcen * {vertical-align:middle !important;}
.vfoot,.vfoot * {vertical-align:text-bottom !important;}
.vtop2 {vertical-align:top !important;}
.vcen2 {vertical-align:middle !important;}
.vfoot2 {vertical-align:bottom !important;}


/* 폰트색상 */
.c0  {color:#000;}
.c2  {color:#222;}
.c3  {color:#333;}
.c5  {color:#555;}
.c6  {color:#666;}
.c8  {color:#888;}
.c9  {color:#999;}
.cf  {color:#fff;}
.cg1 {color:#69696a;}
.cg2 {color:#ababab;}
.cg3 {color:#848484;}
.cg4 {color:#727272;}
.cg5 {color:#b3b7bc;}
.cred {color:#DF2519;}
.cblue {color:#2176C6;}
.cblue1 {color:#4e70a5;}
.cpink {color:#f9587d}
.cgold {color:#b8883c;}
.cgreen {color:#758d0a;}
.cbrown {color:#9F2C00;}


/* 폰트속성 */
.nb {font-weight:normal;}
.b {font-weight:bold;}
.fs {font-size:90%}
.fb {font-size:120%;}

.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.f16 {font-size:16px;}

/*도움말 공통*/
.fhelp{font-size:11px;letter-spacing:-1px;color:#b8a173;line-height:130%;}

/*줄간격*/
.tlh130 {line-height:130%;}
.tlh120{line-height:120%;}
.tlh110{line-height:110%;}

/*영문,숫자*/
.en {font-size:90%;font-family:Verdana;}

/*회색조*/
.gray { filter: Gray; }


/* 패딩 5,10단위만 지정함*/
.pad5a {padding:5px}
.pad5tf {padding-top:5px;padding-bottom:5px}
.pad5lr {padding-left:5px;padding-right:5px;}
.pad5r {padding-right:5px}
.pad5l {padding-left:5px}
.pad5t {padding-top:5px}
.pad5f {padding-bottom:5px}
.pad10a {padding:10px}
.pad10tf {padding-top:10px;padding-bottom:10px}
.pad10lr {padding-left:10px;padding-right:10px;}
.pad10r {padding-right:10px}
.pad10l {padding-left:10px}
.pad10t {padding-top:10px}
.pad10f {padding-bottom:10px}
.pad15a {padding:15px}
.pad15tf {padding-top:15px;padding-bottom:15px}
.pad15lr {padding-left:15px;padding-right:15px;}
.pad15r {padding-right:15px}
.pad15l {padding-left:15px}
.pad15t {padding-top:15px}
.pad15f {padding-bottom:15px}
.pad20a {padding:20px}
.pad20tf {padding-top:20px;padding-bottom:20px}
.pad20lr {padding-left:20px;padding-right:20px;}
.pad20r {padding-right:20px}
.pad20l {padding-left:20px}
.pad20t {padding-top:20px}
.pad20f {padding-bottom:20px}
.pad25a {padding:25px}
.pad25tf {padding-top:25px;padding-bottom:25px}
.pad25lr {padding-left:25px;padding-right:25px;}
.pad25r {padding-right:25px}
.pad25l {padding-left:25px}
.pad25t {padding-top:25px}
.pad25f {padding-bottom:25px}
.pad30a {padding:30px}
.pad30tf {padding-top:30px;padding-bottom:30px}
.pad30lr {padding-left:30px;padding-right:30px;}
.pad30r {padding-right:30px}
.pad30l {padding-left:30px}
.pad30t {padding-top:30px}
.pad30f {padding-bottom:30px}
.pad40a {padding:40px}
.pad40tf {padding-top:40px;padding-bottom:40px}
.pad40lr {padding-left:40px;padding-right:40px;}
.pad40r {padding-right:40px}
.pad40l {padding-left:40px}
.pad40t {padding-top:40px}
.pad40f {padding-bottom:40px}
.pad50a {padding:50px}
.pad50tf {padding-top:50px;padding-bottom:50px}
.pad50lr {padding-left:50px;padding-right:50px;}
.pad50r {padding-right:50px}
.pad50l {padding-left:50px}
.pad50t {padding-top:50px}
.pad50f {padding-bottom:50px}



/*마진*/
.no_mgf {margin-bottom:0px !important;}
.mg5f {margin-bottom:5px;}
.mg10f {margin-bottom:10px;}
.mg15f {margin-bottom:15px;}
.mg20f {margin-bottom:20px;}
.mg25f {margin-bottom:25px;}
.mg30f {margin-bottom:30px;}
.mg40f {margin-bottom:40px;}
.mg50f {margin-bottom:50px;}
.mg5t {margin-top:5px;}
.mg10t {margin-top:10px;}
.mg15t {margin-top:15px;}
.mg20t {margin-top:20px;}
.mg25t {margin-top:25px;}
.mg30t {margin-top:30px;}
.mg40t {margin-top:40px;}
.mg5 {margin-left:5px;}
.mg10 {margin-left:10px;}
.mg15 {margin-left:15px;}
.mg20 {margin-left:20px;}
.mg25 {margin-left:25px;}
.mg30 {margin-left:30px;}
.mg5a {margin:5px;}
.mg10a {margin:10px;}
.mg15a {margin:15px;}
.mg20a {margin:20px;}
.mg25a {margin:25px;}
.mg30a {margin:30px;}

.mg30l {margin-left:30px;}
.mg30r {margin-right:30px;}
.mg20l {margin-left:20px;}
.mg20r {margin-right:20px;}
/*가로 크기*/
.w100 {width:100px;}
.w500 {width:500px;}
.w60 {width:60px;}
.w100p {width:100%;}
.w33p {width:33%;}
.w30p {width:30%;}
.w40p {width:40%;}
.w25p {width:25%;}
.w50p {width:49%;}


/*컨텐츠 요소 지정 스타일 */


/*스마트에디터*/
p{ }

blockquote.q1,
blockquote.q2,
blockquote.q3,
blockquote.q4,
blockquote.q5,
blockquote.q6,
blockquote.q7{ padding:10px; margin-left:15px; margin-right:15px;}

blockquote.q1{ padding:0 10px; border-left:2px solid #ccc;}
blockquote.q2{ padding:0 10px; background:url(../img/bg_qmark.gif) no-repeat;}
blockquote.q3{ border:1px solid #d9d9d9;}
blockquote.q4{ border:1px solid #d9d9d9; background:#fbfbfb;}
blockquote.q5{ border:2px solid #707070;}
blockquote.q6{ border:1px dashed #707070;}
blockquote.q7{ border:1px dashed #707070; background:#fbfbfb;}

sup{ font:10px Tahoma;}
sub{ font:10px Tahoma;}

/*레이어 팝업*/
.pop_windoc {width:100%;height:100%;position:fixed;left:0px;top:0px;z-index:6000;_position:absolute; _top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}
.pop_windoc_bg {width:100%;height:100%;background:#282828;opacity:.80;filter:alpha(opacity:80);_background:#282828;left:0px;top:0px;position:absolute;z-index:6001;}
.pop_windoc_box {position:relative;z-index:6002;background:#FFFFFF;}
.pop_winWrap {height:100%;width:100%;border:1px solid #222;/*background:#FFF url(../_img/bg/top_bg2.gif) repeat-x left top;*/position:relative;display:block;}
.pop_winWrap .pop_winTop {height:35px;background:#282828;width:100%;color:#FFF;border-bottom:2px solid #56a6b0;position:relative;display:block;}
.pop_winWrap .pop_title { position:absolute;top:10px;left:15px;background:url(/_Img/Admin/icon/pop_icon.gif) no-repeat 0 6px; height:30px; padding-left:20px; font-size:16px; color:#fff; font-weight:bold;}
.pop_winWrap .pop_winTop .pop_close {position:absolute;top:7px;right:15px;}
.pop_winWrap .pop_winFoot  {background:#BBBBBB;width:100%;display:block;text-align:center;position:absolute;bottom:0px;left:0px;height:15px;}
.pop_winWrap .pop_winBody {padding:0px 2px 0px 0px;overflow-y:auto;display:block;position:relative;}
.pop_winWrap .ifrmBody {overflow-y:hidden;}
.pop_winWrap .pop_body {position:relative;display:block;padding-bottom:15px;}
.pop_winWrap .pop_body:after {clear:both;content:"";display:block;}
.pop_winWrap .cont_top {display:none;}
.pop_winWrap .contents {position:relative;display:block;}


/* 팝업스타일 */
/* 팝업관리- 펍업레이어, 팝업윈도우 */
.popups {position:relative;z-index:5000;}
.popup_layers {position:absolute;background:#FFF;border:1px solid #CCC;z-index:5000;}
.popup_layers h3 {width:100%;height:auto;padding-top:5px;padding-bottom:5px;;background:#f8f8f8;text-align:center;border-bottom:1px solid #EDEDED;}
.poplayer_foot, popwin_foot{display:block;position:absolute;bottom:0px;width:100%;background:#282828;height:18px;overflow:hidden;display:block;color:#FFF;font-size:11px;padding:4px 0px 4px 0px;}
.popwin_foot {position:fixed;z-index:5000;_position:absolute; _top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}
.poplayer_foot button , .popwin_foot button {position:absolute;right:0;top:8px;width:50px;border:0px;padding:0;background:none;color:#FFF;font-size:11px;line-height:120%;cursor:pointer;}



/*Movie Player*/

.mvPlayer {position:relative;width:600px;height:400px;padding-bottom:50px;}
.mvPlayerControl {height: 25px;	width: 100%;position:absolute;bottom:10px;left:0px;}
.mvPlayerMovie {position:relative;height:100%;width:100%;}
		
.mvPlayerControl .button {width: 14px;height: 14px;	background-repeat: no-repeat;	background-position: center center;	float: left;	margin-top:1px;}
.mvPlayerControl .button a {	display: block;	height: 14px;text-indent: -100em;overflow: hidden;	}
.mvPlayerControl .play {background-image: url(/_Js/flvPlayer/images/control_play.gif);}
.mvPlayerControl .play:hover {	background-image: url(/_Js/flvPlayer/images/control_play_o.gif);	}
.mvPlayerControl .stop {			background-image: url(/_Js/flvPlayer/images/control_stop.gif);		}
.mvPlayerControl .stop:hover {			background-image: url(/_Js/flvPlayer/images/control_stop_o.gif);		}
.mvPlayerControl .pause {		background-image: url(/_Js/flvPlayer/images/control_pause.gif);		display: none;		}
.mvPlayerControl .pause:hover {		background-image: url(/_Js/flvPlayer/images/control_pause_o.gif);	}
.mvPlayerControl .timeline {position:relative;height:10px;background:url(/_Js/flvPlayer/images/control_slider.gif) repeat-x ;margin:3px 20px 0 30px;}
.mvPlayerControl .timeline_ov {position:absolute;width:0;height:100%;background:url(/_Js/flvPlayer/images/control_slider_o.gif) repeat-x ;}
.mvPlayerControl .timeline a {position:absolute;left:0px;	display:block;width:8px;height:10px;overflow:hidden;text-indent: -100em;background:url(/_Js/flvPlayer/images/control_slider_marker.gif) no-repeat left top;}
.mvPlayerControl .sound {position:absolute;right:0px;top:0px;background-image: url(/_Js/flvPlayer/images/sound_on.gif);}
.mvPlayerControl .sound_off {position:absolute;right:0px;top:0px;display:none;background-image: url(/_Js/flvPlayer/images/sound_off.gif);}



/*페이징 스타일*/
/*
.pagelist {text-align:center;line-height:110%;display:block;position:relative;height:25px;}
.pagelist * {vertical-align:middle;line-height:120%;}
.pagelist span {font-family:Verdana;font-size:100%;font-weight:bold;color:#777 !important;}
.pagelist span {padding:1px 7px 1px 7px;}
.pagelist span.first {background:none;}
.pagelist a span {cursor:pointer;}

.pagelist .firstpage span, .pagelist .lastpage span, .pagelist .firstpage1 span, .pagelist .lastpage1 span,
.pagelist .prevblock span, .pagelist .nextblock span, .pagelist .prevblock1 span, .pagelist .nextblock1 span,
.pagelist .prevpage span, .pagelist .nextpage span, .pagelist .prevpage1 span, .pagelist .nextpage1 span {padding-top:0px;border:0px !important; background:none !important;visibility:hidden;}

.pagelist .firstpage , .pagelist .lastpage ,.pagelist .firstpage1 , .pagelist .lastpage1 ,
.pagelist .prevblock , .pagelist .nextblock ,.pagelist .prevblock1 , .pagelist .nextblock1 ,
.pagelist .prevpage , .pagelist .nextpage  , .pagelist .prevpage1 , .pagelist .nextpage1  {display:inline-block;margin-top:3px;background-image:url("/_Img/Common/btn_page.gif");background-repeat:no-repeat;height:21px;width:22px;overflow:hidden;}

.pagelist .firstpage  {background-position:0px -21px;width:22px;}
.pagelist .firstpage1  {background-position:0px 0px;width:22px;}
.pagelist .lastpage		{background-position:-64px -21px;width:22px;}
.pagelist .lastpage1	{background-position:-64px 0px;width:22px;}
.pagelist .prevblock		{background-position:-22px -21px;width:21px;margin-right:5px;}
.pagelist .prevblock1	{background-position:-22px 0px;width:21px;margin-right:5px;}
.pagelist .nextblock		{background-position:-43px -21px;width:21px;margin-left:5px;}
.pagelist .nextblock1	{background-position:-43px 0px;width:21px;margin-left:5px;}

.pagelist .firstpage:hover {background-position:0px -42px;}
.pagelist .lastpage:hover {background-position:-64px -42px;}
.pagelist .prevblock:hover {background-position:-22px -42px;}
.pagelist .nextblock:hover {background-position:-43px -42px;}

.pagelist .noneOver {background-position:auto 0px;}
*/

/* 라인 스타일 */
.aline01 {border:1px solid #DDD;}
.aline01-f {border-bottom:1px solid #DDD;}

.aline02 {border:1px dotted #DDD;}
.aline02-f {border-bottom:1px dotted #DDD;}

.aline03 {border:1px dashed #DDD;}
.aline03-f {border-bottom:1px dashed #DDD;}

/* 고정 버튼 스타일 */
.abtn01 {}

/* 사이트별 추가 버튼 스타일 */
.abtn01 {}

/* 박스 스타일*/
.abox01 {}

/*테이블 기본 스타일 */
.tbl-style01 {}
.tbl-style02 {}
.tbl-style03 {}

.tbl-list {}
.tbl-list1 {}
.tbl-list2 {}
.tbl-list3 {}

.tbl-write {}
.tbl-write1 {}
.tbl-write2 {}

.in-text {height:80px;font-size:11px;overflow-y:scroll;padding:10px;font-family:돋움}
.widget-nodata {font-size:11px;color:#cacaca;border:1px dotted #dedede;}

/* 관리자 패널 */
#admPannel {position:fixed;left:0px;bottom:0px;width:100%;z-index:7000;height:60px;text-align:center;background:#f8f8f8;border-top:2px solid #1289ca;}
#admPannel .cfgPannel {width:940px;margin:0 auto 0 auto;height:27px;text-align:left;padding:10px 0px 10px 0px;font-size:11px;}
